.icon-bar {
  width: 100%; /* Full-width */
  display: flex;
  color: white;
  background-color: #111111;
  box-shadow: inset 0 -2px 2px -2px whitesmoke;
  padding: 5px 5px 2px 5px;
}


.icon-bar > div {
  flex: 0 1 auto;
  margin: 0 5px 0 0;
  display: flex;
  flex-direction: column;
}

.icon-bar > div.active {
}

.icon-bar > div:last-child {
  flex: 1 1 1px;
}

.buttons-container {
  border-radius: 5px;
  background-color: antiquewhite;
  padding: 2px;
  width: 100%;
  flex: 1 1 10px;
  box-shadow: inset 0 4px 4px -4px black;
}

.title {
  width: 100%;
  flex: 0 0 10px;
  text-align: center;
  font-variant: small-caps;
  padding: 2px;
  font-size: 13px;
}

.button-group {
  display: inline-block;
  border-bottom: darkgray 2px solid;
  border-radius: 2px;
}
.button-group:hover {
  border-bottom: gray 2px solid;
}

.button {
  margin: 2px;
  height: 30px;
  width: 60px;
  border: none;
  color: black;
  vertical-align: middle;
  position: relative;
  display: inline-block;
  text-align: center;
  line-height: 30px;
  font-size: 16px;
  border-radius: 5px;
}
.button:hover {
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.4);
}
.button.disabled, .button:disabled {
  opacity: 0.5;
}
.button:active {
  background-color: darkgray;
}
.icon-bar > div.active .button.active {
  background-color: lightblue;
}

.button.icon {
  font-size: 1.4em;
  width: 30px;
}
.button.icon.running {
  color: red;
}
.inner-icon {
  display: block;
  height: 100%;
  width: 100%;
}
.icon.disabled, .icon:disabled {
  opacity: 0.5;
}
