<div class="icon-bar" *ngIf="toolBarStateService.currentPrimaryView === PrimaryViews.Editor">
  <div>
    <div class="buttons-container">
      <div class="button icon"
      >💾</div>
      <div class="button lock locked"
           (click)="onLockAll()"
      > </div>
    </div>
    <div class="title">General</div>
  </div>
  <div [class.active]="toolBarStateService.currentEditorTool === EditorTools.CreateStaffLines || toolBarStateService.currentEditorTool === EditorTools.GroupStaffLines">
    <div class="buttons-container">
      <div class="button icon" (click)="toolBarStateService.runStaffDetection.emit()">💻</div>
      <div class="button-group">
        <div class="button icon"
             [class.active]="toolBarStateService.currentEditorTool === EditorTools.CreateStaffLines"
             (click)="onEditorTool(EditorTools.CreateStaffLines)">−</div>
        <div class="button icon"
             [class.active]="toolBarStateService.currentEditorTool === EditorTools.GroupStaffLines"
             (click)="onEditorTool(EditorTools.GroupStaffLines)">☰</div>
      </div>
      <div class="button lock"
           [class.locked]="editor.pageEditingProgress.getLocked(EditorTools.CreateStaffLines)"
           (click)="onLock(EditorTools.CreateStaffLines); onLock(EditorTools.GroupStaffLines)"
      ></div>
    </div>
    <div class="title">Staff Lines</div>
  </div>
  <div [class.active]="toolBarStateService.currentEditorTool === EditorTools.Layout"
  >
    <div class="buttons-container">
      <div class="button"
              [class.active]="toolBarStateService.currentEditorTool === EditorTools.Layout"
              (click)="onEditorTool(EditorTools.Layout)">Edit</div>
      <div class="button lock"
              [class.locked]="editor.pageEditingProgress.getLocked(EditorTools.Layout)"
              (click)="onLock(EditorTools.Layout)"
      ></div>
    </div>
    <div class="title">Layout</div>
  </div>
  <!-- <div [class.active]="toolBarStateService.currentEditorTool === EditorTools.TextRegion" (click)="onEditorTool(EditorTools.TextRegion)">Text Region</div> -->
  <div [class.active]="toolBarStateService.currentEditorTool === EditorTools.Symbol">
    <div class="buttons-container">
      <div class="button icon" (click)="toolBarStateService.runSymbolDetection.emit()">💻</div>
      <div class="button-group">
        <div class="button icon"
             [class.active]="toolBarStateService.currentEditorSymbol === SymbolType.Note && toolBarStateService.currentNoteType === NoteType.Normal"
             (click)="onNoteType(NoteType.Normal)">♩</div>
        <div class="button icon"
             [class.active]="toolBarStateService.currentEditorSymbol === SymbolType.Clef && toolBarStateService.currentClefType === ClefType.Clef_C"
             (click)="onClefType(ClefType.Clef_C)"><span class="c-clef">𝇐</span></div>
        <div class="button icon"
             [class.active]="toolBarStateService.currentEditorSymbol === SymbolType.Clef && toolBarStateService.currentClefType === ClefType.Clef_F"
             (click)="onClefType(ClefType.Clef_F)"><span class="f-clef">𝇑</span></div>
        <div class="button icon"
             [class.active]="toolBarStateService.currentEditorSymbol === SymbolType.Accid && toolBarStateService.currentAccidentalType === AccidType.Flat"
             (click)="onAccidType(AccidType.Flat)">♭</div>
        <div class="button icon"
             [class.active]="toolBarStateService.currentEditorSymbol === SymbolType.Accid && toolBarStateService.currentAccidentalType === AccidType.Sharp"
             (click)="onAccidType(AccidType.Sharp)">♯</div>
        <div class="button icon"
             [class.active]="toolBarStateService.currentEditorSymbol === SymbolType.Accid && toolBarStateService.currentAccidentalType === AccidType.Natural"
             (click)="onAccidType(AccidType.Natural)">♮</div>
        <div class="button icon"
             [class.active]="toolBarStateService.currentEditorSymbol === SymbolType.LogicalConnection"
             (click)="onEditorSymbol(SymbolType.LogicalConnection)">┊</div>
      </div>
      <div class="button icon"
           (click)="toolBarStateService.runClearAllSymbols.emit()">🗑</div>
      <div class="button lock"
              [class.locked]="editor.pageEditingProgress.getLocked(EditorTools.Symbol)"
              (click)="onLock(EditorTools.Symbol)"
      ></div>
    </div>
    <div class="title">Symbols</div>
  </div>
  <div [class.active]="toolBarStateService.currentEditorTool === EditorTools.Lyrics"
  >
    <div class="buttons-container">
      <div class="button"
              [class.active]="toolBarStateService.currentEditorTool === EditorTools.Lyrics"
              (click)="onEditorTool(EditorTools.Lyrics)">Edit</div>
      <div class="button lock"
              [class.locked]="editor.pageEditingProgress.getLocked(EditorTools.Lyrics)"
              (click)="onLock(EditorTools.Lyrics)"
      ></div>
    </div>
    <div class="title">Lyrics</div>
  </div>
  <div
    [class.active]="toolBarStateService.currentEditorTool === EditorTools.Syllables"
  >
    <div class="buttons-container">
      <div class="button"
              [class.active]="toolBarStateService.currentEditorTool === EditorTools.Syllables"
              (click)="onEditorTool(EditorTools.Syllables)">Assign</div>
      <div class="button lock"
              [class.locked]="editor.pageEditingProgress.getLocked(EditorTools.Syllables)"
              (click)="onLock(EditorTools.Syllables)"
      ></div>
    </div>
    <div class="title">Syllables</div>
  </div>
  <div class="clean-up"></div>

</div>
