.icon-bar {
  width: 100%; /* Full-width */
  display: flex;
  color: white;
  background-color: #111111;
}


.icon-bar > div {
  height: 60px;
  flex: 0 1 auto;
  background-color: darkgreen;
  margin: 0 2px;
  display: flex;
  flex-direction: column;
}

.icon-bar > div.active {
  background-color: lime;
}

.icon-bar > div:last-child {
  flex: 1 1 1px;
  background-color: #111111;
}

.buttons-container {
  padding: 2px;
  width: 100%;
  flex: 1 1 10px;
}

.title {
  width: 100%;
  flex: 0 0 10px;
  text-align: center;
  background-color: #111111;
}

button {
  margin: 2px;
  height: 30px;
  width: 60px;
  background-color: #111111;
  border: 1px solid black;
  color: whitesmoke;
  vertical-align: middle;
}
button:hover {
  background-color: darkgreen;
}
button.active {
  background-color: lime;
}

.lock {
  width: 30px;
}

.lock:before {
  content: "\1F513";
}
.lock.locked:before {
  content: "\1F512";
}

