<mat-form-field appearance="outline">
  <mat-label i18n>Select model</mat-label>
  <mat-select [(ngModel)]="selected" [disabled]="disabled" (ngModelChange)="changeSelected($event)">
    @if (availableModels | async) {
      @for (group of (modelGroups | async); track group.label) {
        <mat-optgroup [label]="group.label">
          @for (lm of group.options; track lm.model.id) {
            <mat-option [value]="lm.model">{{ lm.label }} (Acc: {{ lm.model.accuracy | percent:'1.1-1' }})</mat-option>
          }
        </mat-optgroup>
      }
    }
  </mat-select>
  <mat-hint>{{ hint }}</mat-hint>
</mat-form-field>
