<svg:g>
  <polyline
    [attr.points]="staff.symbolPositionsPolyline().toString()"
    class="symbols-reading-order"
  ></polyline>
  <g class="symbols" *ngIf="staff.symbols">
    <g *ngFor="let symbol of staff.symbols; let i = index;">
      <g app-symbol [symbol]="symbol"
         class="symbol"
         [class.selectable]="editorTool.isSymbolSelectable(symbol)"
         [connectionTo]="symbolConnection(i, symbol)"
         (mousedown)="editorTool.onSymbolMouseDown($event, symbol)"
         (mouseup)="editorTool.onSymbolMouseUp($event, symbol)"
         (mousemove)="editorTool.onSymbolMouseMove($event, symbol)"
         (contextmenu)="editorTool.onSymbolContextMenu($event, symbol)"
         [selected]="editorTool.selectedSymbol === symbol"
      ></g>
    </g>
    <g *ngFor="let c of staff.logicalConnections">
      <line
        class="logical-connection-visible"
        [class.selected]="c === editorTool.selectedLogicalConnection"
        [attr.x1]="c.coord.x"
        [attr.y1]="c.coord.y"
        [attr.x2]="c.coord.x"
        [attr.y2]="c.coord.y - c.height"
      ></line>
      <line *ngIf="editorTool.isLogicalConnectionSelectable(c)"
            class="logical-connection-selectable"
            [class.invalid-selection]="!c.dataNote"
            [attr.x1]="c.coord.x"
            [attr.y1]="c.coord.y"
            [attr.x2]="c.coord.x"
            [attr.y2]="c.coord.y - c.height"
            (mousedown)="editorTool.onLogicalConnectionMouseDown($event, c)"
            (mouseup)="editorTool.onLogicalConnectionMouseUp($event, c)"
      ></line>
    </g>
  </g>
</svg:g>
