.symbols-reading-order {
  pointer-events: none;
  vector-effect: non-scaling-stroke;
  fill: none;
  stroke: black;
}

.symbol.selectable {
  cursor: pointer;
}

.logical-connection-visible {
  stroke-width: 2;
  stroke: #111111;
  stroke-dasharray: 4 2;
  pointer-events: None;
  vector-effect: non-scaling-stroke;
}

@keyframes dash {
  to {
    stroke-dashoffset: 6;
  }
}

.logical-connection-visible.selected {
  stroke: red;
  animation: dash 0.2s linear;
  animation-iteration-count: infinite;
}

.logical-connection-selectable {
  stroke-width: 6;
  stroke: lightblue;
  opacity: 0;
  vector-effect: non-scaling-stroke;
}

.logical-connection-selectable:hover {
  opacity: 0.5;
  cursor: pointer;
}

.logical-connection-selectable.invalid-selection {
  pointer-events: none;
  cursor: not-allowed;
}

