<svg:g>
  @for (currentLine of currentLines; track currentLine) {
    <g>
      @if (state === 'createPath' || state === 'copyPath') {
        <polyline
          [attr.points]="currentLine.getPath()" class="staff-line editing"
          />
      }
      @if (isStaffLineSelectable(null)) {
        <g>
          @for (point of currentLine.points; track point) {
            <g app-element-non-scaling-point
              class="selectable"
              [p]="point"
              [selected]="currentPoints.has(point)"
              (mousedown)="onPointMouseDown($event, point)"
              (mouseup)="onPointMouseUp($event, point)"
              />
          }
        </g>
      }
    </g>
  }
  <g app-selection-box
    (selectionFinished)="onSelectionFinished($event)"
    />
  </svg:g>
