<svg:g>
  <g *ngFor="let currentLine of currentLines">
    <polyline
      *ngIf="state === 'createPath' || state === 'copyPath'"
      [attr.points]="currentLine.getPath()" class="staff-line editing"
    />
    <g *ngIf="isStaffLineSelectable(null)">
      <g app-element-non-scaling-point
         *ngFor="let point of currentLine.points"
         class="selectable"
         [p]="point"
         [selected]="currentPoints.has(point)"
         (mousedown)="onPointMouseDown($event, point)"
         (mouseup)="onPointMouseUp($event, point)"
      />
    </g>
  </g>
  <g app-selection-box
     (selectionFinished)="onSelectionFinished($event)"
  />
</svg:g>
