<div
  *ngIf="textEditorService.currentTextEquiv"
  id="text-editor-overlay"
  [style.left]="position.x + 'px'"
  [style.top]="position.y + 'px'"
  [style.width]="width + 'px'"
>
  <div
    *ngIf="textEditorService.mode === Mode.Lyrics"
    class="full-width"
    >
    <input #input name="text" type="text" [(ngModel)]="currentText" >
    <input name="text" type="text" [ngModel]="textEditorService.currentTextEquiv.visibleText" readonly>
  </div>
  <div
    *ngIf="textEditorService.mode !== Mode.Lyrics">
    <input #input name="text" type="text" [(ngModel)]="currentText" >
  </div>
</div>
