<div class="page-preview">
  <div class="page-preview-content">
    <div class="load-wrapper">
      <app-secured-image class="page-preview-image" src="{{ page.preview_url(color, processing) }}" [alt]="page.page" (load)="imgLoaded = true" ></app-secured-image>
      <div
        *ngIf="!imgLoaded"
        class="load-overlay">
        <app-loader-icon class="load-icon"></app-loader-icon>
      </div>
    </div>
    <div class="page-preview-id-container">
      <span class="page-preview-id">{{ page.page }}</span>
      <app-hover-menu class="page-preview-buttons" *ngIf="toolButtons">
        <li mat-menu-item (click)="edit.emit()"><mat-icon class="icon-pencil"></mat-icon><button mat-button>Edit</button></li>
        <li mat-menu-item (click)="remove.emit()"><mat-icon class="icon-delete-forever"></mat-icon><button mat-button color="warn">Delete</button></li>
      </app-hover-menu>
    </div>

  </div>
  <div class="page-preview-status">
    <ul class="icon-list">
      <li [class.checked]="progress.getLocked(EditorTools.CreateStaffLines)">s</li>
      <li [class.checked]="progress.getLocked(EditorTools.Layout)">l</li>
      <li [class.checked]="progress.getLocked(EditorTools.Symbol)">s</li>
      <li [class.checked]="progress.getLocked(EditorTools.Lyrics)">t</li>
      <li [class.checked]="progress.getLocked(EditorTools.Syllables)">c</li>
    </ul>
  </div>
</div>
