.page-preview {
  width: 100%;
  height: 100%;
  position: relative;
  border: 0 solid #111111;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}
.page-preview.in-progress {
  background-color: lightblue;
}
.page-preview.finished {
  background-color: lightgreen;
}
.page-preview.verified {
  background-color: lightgreen;
}
.verified-overlay {
  background: black;
  opacity: 0.4;
}
.verified-overlay:hover {
  background: none;
}
.verified-icon {
  height: inherit;
  width: inherit;
}
.verified-icon .icon {
  transform: translate(50%, 50%);
  height: inherit;
  width: inherit;
}
.verified-icon .icon .mat-icon {
  font-size: 80px !important;
  height: 80px;
  width: 80px;
  transform: translate(-40px, -40px);
}

.page-preview-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 200px;
  width: 155px;
}

.page-preview-image {
  width: 100%;
}

.load-wrapper {
  flex: 1 0 auto;
  position: relative;
}
.load-overlay {
  position: absolute;
  top: 0%;
  left: 0%;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
}
.load-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.page-preview-id-container {
  bottom: 0;
  left: 0;
  width: 100%;
  flex: 0 0 auto;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: right;
  line-height: 26px;
  height: 26px;
  display: flex;
}

.page-preview-id {
  flex: 1 1 0;
  min-width: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
  direction: rtl;
}

.page-preview-buttons {
  flex: 0 0 26px;
  height: 26px;
  vertical-align: middle;
  display: inline-block;
  line-height: 26px;
}

.page-preview-overlay {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.icon-list > li {
  list-style: none;
  width: 20px;
  height: 20px;
  background-color: lightcoral;
  border: 2px solid #111111;
  border-radius: 5px;
  margin: 2px;
  opacity: 0.5;
  vertical-align: middle;
  text-align: center;
  line-height: 20px;
}

.icon-list > li.checked {
  background-color: lightgreen;
}

button.checked {
  background-color: lightgreen;
}
