<div class="center-content-container full-width">
  <div class="h1"><a mat-icon-button [routerLink]="'/book/' + book.getValue().book"><mat-icon>arrow_back</mat-icon></a><span>Comments of </span><span class="book-title">{{ bookMeta.name }}</span></div>
  <p *ngIf="comments.length === 0">No comments listed.</p>
  <mat-card *ngFor="let b of comments">
    <mat-card-title>
      <span [matBadge]="b.comments.comments.length.toString()" matBadgePosition="above before">{{ b.page.page }}</span>
      <a mat-icon-button [routerLink]="'/book/' + b.page.book.book + '/' + b.page.page + '/edit'"><mat-icon>edit</mat-icon></a>
    </mat-card-title>
    <mat-card-content>
      <app-page-preview
        class="preview"
        [page]="b.page"
        [toolButtons]="false"
        [title]="false"
      ></app-page-preview>
      <mat-list class="comments">
        <h3 mat-subheader>Comments</h3>
        <mat-list-item *ngFor="let c of b.comments.comments">
          {{ c.text }}
        </mat-list-item>
      </mat-list>

    </mat-card-content>
  </mat-card>
</div>
