<h1 mat-dialog-title>Delete book <span class="book-title">{{ data.book.name }}</span></h1>
<div mat-dialog-content>
  <app-error-message [error]="errorMessage" (closed)="errorMessage = ''"></app-error-message>
  <p>
    Do you really want to delete all files associated with book <span class="book-title">{{ data.book.name}}</span>?
  </p>
</div>
<div mat-dialog-actions align="end">
  <button mat-raised-button (click)="close(false)">Cancel</button>
  <button mat-raised-button color="warn" (click)="onConfirm()">Delete</button>
</div>
