<div class="view_wrapper">
  <app-pages-preview id="page-viewer"
                     [class.disable-input]="editorCapturedMouse()"
                     [bookCom]="editorService.bookCom" [currentPage]="editorService.pageCom"
                     [currentPageProgress]="editorService.pageEditingProgress"
                     [urlSuffix]="'view'">
  </app-pages-preview>

  <div class="split_view">
    <div [hidden]="!showAnnotation" class="transcription-area">
      <div class="editor-container">
        <app-sheet-overlay
          [pcgts]="editorService.pageStateVal.pcgts"
          id="sheet-overlay"
          *ngIf="!editorService.pageLoading">
        </app-sheet-overlay>
      </div>
    </div>
    <div [hidden]="!showRender" class="render-area">
      <app-render-view [pageState]="editorService.pageStateObs" [events]="eventsSubject"
      ></app-render-view>
    </div>
  </div>

  <div id="property-widgets" *ngIf="sheetOverlayComponent">
    <div class="property-widget">
      <app-view-property-widget
        [(viewSettings)]="sheetOverlayComponent.currentEditorTool.viewSettings"
        (resetToDefault)="sheetOverlayComponent.currentEditorTool.resetToDefaultViewSettings()"
      ></app-view-property-widget>
    </div>
  <div class="property-widget">

    <mat-slide-toggle [(ngModel)]="showAnnotation" i18n>Show Annotation</mat-slide-toggle>
    <mat-slide-toggle [(ngModel)]="showRender" i18n>Show Transcription</mat-slide-toggle>
  </div>
    <div class="property-widget view_switch">
      <tr class="buttons">
        <button	class="mat-raised-button" (click)="routeToEditor()" i18n>Switch to Editor</button	>
        <button [disabled]="true" class="mat-raised-button" i18n>Switch to Monodi+</button>
        <button class="mat-raised-button" (click)="routeToBookOverview()" i18n>Return to Book Overview</button>

      </tr>
    </div>
  </div>

</div>
