<svg:g>
  <rect
    class='selection-box'
    [attr.x]="symbol.coord.x - size / 4 * 0.8"
    [attr.y]="symbol.coord.y - size / 4 * 0.8"
    [attr.width]="size / 2 * 0.8"
    [attr.height]="size / 2 * 0.8"
    [attr.rx]="size / 10 * 0.8"
    [attr.ry]="size / 10 * 0.8"
  ></rect>
  <g *ngIf="symbol.symbol === SymbolType.Note">
    <rect
      class='note'
      [attr.x]="symbol.coord.x - size / 4 * 0.8"
      [attr.y]="symbol.coord.y - size / 4 * 0.8"
      [attr.width]="size / 2 * 0.8"
      [attr.height]="size / 2 * 0.8"
      [attr.rx]="size / 10 * 0.8"
      [attr.ry]="size / 10 * 0.8"
    ></rect>
    <line *ngIf="connectionTo.note"
          [attr.x1]="symbol.coord.x"
          [attr.x2]="connectionTo.note.coord.x"
          [attr.y1]="symbol.coord.y"
          [attr.y2]="connectionTo.note.coord.y"
          class="note-connection mouse-hide"
          [class.graphical-connection]="connectionTo.graphicalConnected"
    >
    </line>
    <!--<line *ngIf="connectionTo.note"
          [attr.x1]="symbol.coord.x"
          [attr.x2]="connectionTo.note.coord.x"
          [attr.y1]="symbol.coord.y"
          [attr.y2]="connectionTo.note.coord.y"
          [class.neume-connection]="!connectionTo.isNeumeStart"
          [class.graphical-connection]="connectionTo.graphicalConnected"
          class="note-connection mouse-area"
          (mousedown)="connectionMouseDown.emit({'event': $event, 'symbol': symbol})"
          (mouseup)="connectionMouseUp.emit({'event': $event, 'symbol': symbol})"
          (mousemove)="connectionMouseMove.emit({'event': $event, 'symbol': symbol})"
    >
    </line>-->
  </g>
  <g *ngIf="symbol.symbol === SymbolType.Clef && asClef().type === ClefType.Clef_F"
  >
    <rect
      class='f_clef clef'
      [attr.x]="symbol.coord.x - size * 0.3"
      [attr.y]="symbol.coord.y - size * 0.8"
      [attr.width]="size * 0.6"
      [attr.height]="size * 0.6"
      [attr.rx]="size * 0.1"
      [attr.ry]="size * 0.1"
    ></rect>
    <line
      class='f_clef clef'
      [attr.x1]="symbol.coord.x - size * 0.5"
      [attr.y1]="symbol.coord.y - size * 0.8"
      [attr.x2]="symbol.coord.x - size * 0.5"
      [attr.y2]="symbol.coord.y + size * 2.0"
    ></line>
    <rect
      class='f_clef clef'
      [attr.x]="symbol.coord.x - size * 0.3"
      [attr.y]="symbol.coord.y + size * 0.2"
      [attr.width]="size * 0.6"
      [attr.height]="size * 0.6"
      [attr.rx]="size * 0.1"
      [attr.ry]="size * 0.1"
    ></rect>
  </g>
  <g *ngIf="symbol.symbol === SymbolType.Clef && asClef().type === ClefType.Clef_C"
  >
    <rect
      class='c_clef clef'
      [attr.x]="symbol.coord.x - size * 0.3"
      [attr.y]="symbol.coord.y - size * 0.8"
      [attr.width]="size * 0.6"
      [attr.height]="size * 0.6"
      [attr.rx]="size * 0.1"
      [attr.ry]="size * 0.1"
    ></rect>
    <line
      class='c_clef clef'
      [attr.x1]="symbol.coord.x - size * 0.3"
      [attr.y1]="symbol.coord.y - size * 0.2"
      [attr.x2]="symbol.coord.x - size * 0.3"
      [attr.y2]="symbol.coord.y + size * 0.2"
    ></line>
    <rect
      class='c_clef clef'
      [attr.x]="symbol.coord.x - size * 0.3"
      [attr.y]="symbol.coord.y + size * 0.2"
      [attr.rx]="size * 0.1"
      [attr.ry]="size * 0.1"
      [attr.width]="size * 0.6"
      [attr.height]="size * 0.6"
    ></rect>
  </g>
  <g *ngIf="symbol.symbol === SymbolType.Accid"
     [attr.transform]="'translate(' + symbol.coord.x + ',' + symbol.coord.y + ') scale(' + size * 0.07 + ')'"
     class="accid"
     >
    <g *ngIf="asAccid().type === AccidType.Flat"
       class="flat"
       transform="translate(-2,-11)"
      >
      <g
        transform="translate(-94.947,-433.75)"
        >
        <path
          d="M 98.166,443.657 C 98.166,444.232 97.950425,444.78273 97.359,445.52188 C 96.732435,446.30494 96.205,446.75313 95.51,447.28013 L 95.51,443.848 C 95.668,443.449 95.901,443.126 96.21,442.878 C 96.518,442.631 96.83,442.507 97.146,442.507 C 97.668,442.507 97.999,442.803 98.142,443.393 C 98.158,443.441 98.166,443.529 98.166,443.657 z M 98.091,441.257 C 97.66,441.257 97.222,441.376 96.776,441.615 C 96.33,441.853 95.908,442.172 95.51,442.569 L 95.51,435.29733 L 94.947,435.29733 L 94.947,447.75213 C 94.947,448.10413 95.043,448.28013 95.235,448.28013 C 95.346,448.28013 95.483913,448.18713 95.69,448.06413 C 96.27334,447.71598 96.636935,447.48332 97.032,447.23788 C 97.482617,446.95792 97.99,446.631 98.661,445.991 C 99.124,445.526 99.459,445.057 99.667,444.585 C 99.874,444.112 99.978,443.644 99.978,443.179 C 99.978,442.491 99.795,442.002 99.429,441.713 C 99.015,441.409 98.568,441.257 98.091,441.257 z "
          />
      </g>
    </g>

    <g *ngIf="asAccid().type === AccidType.Sharp"
       class="sharp"
       transform="translate(-3,-9)"
      >
      <g
        transform="translate(-84.19600,-436.0680)"
        >
        <path
          d="M 86.102000,447.45700 L 86.102000,442.75300 L 88.102000,442.20100 L 88.102000,446.88100 L 86.102000,447.45700 z M 90.040000,446.31900 L 88.665000,446.71300 L 88.665000,442.03300 L 90.040000,441.64900 L 90.040000,439.70500 L 88.665000,440.08900 L 88.665000,435.30723 L 88.102000,435.30723 L 88.102000,440.23400 L 86.102000,440.80900 L 86.102000,436.15923 L 85.571000,436.15923 L 85.571000,440.98600 L 84.196000,441.37100 L 84.196000,443.31900 L 85.571000,442.93500 L 85.571000,447.60600 L 84.196000,447.98900 L 84.196000,449.92900 L 85.571000,449.54500 L 85.571000,454.29977 L 86.102000,454.29977 L 86.102000,449.37500 L 88.102000,448.82500 L 88.102000,453.45077 L 88.665000,453.45077 L 88.665000,448.65100 L 90.040000,448.26600 L 90.040000,446.31900 z "
          />
      </g>
    </g>
    <g *ngIf="asAccid().type === AccidType.Natural"
       class="natural"
       transform="translate(-2.5,-9)" >
      <path d="M 0,0 L 0,13 L 5,11 L 5,20 L 5,5 L 0,7" />
    </g>
  </g>
  <g app-element-non-scaling-component [p]="symbol.snappedCoord" [size]="5" [type]="1"></g>
</svg:g>
