:host >>> .cross {
  stroke-width: 1;
  stroke: black;
}

circle.note {
  fill-opacity: 0.5;
  fill: yellow;
  stroke: none;
  stroke-width: 2;
}
.mouse-hide {
  pointer-events: none;
}
.note-connection {
  stroke-width: 2;
  vector-effect: non-scaling-stroke;
}
.graphical-connection, .graphical-connection.neume-connection {
  stroke: black;
  stroke-dasharray: none;
}
.neume-connection {
  stroke: black;
  stroke-dasharray: 2px 8px;
}
.mouse-area {
  opacity: 0;
}
.note-connection.mouse-area {
  stroke-width: 10;
}
.mouse-area:hover {
  opacity: 0.5;
}

.selected circle.note {
  stroke: red;
}

.highlight circle.note {
  fill: orangered;
}

.clef {
  stroke-width: 2;
  opacity: 0.5;
}
.c_clef {
  stroke: darkmagenta;
  fill: darkmagenta;
}
.selected .c_clef {
  stroke: magenta;
}
.f_clef {
  stroke: magenta;
  fill: magenta;
}
.selected .f_clef {
  stroke: darkmagenta;
}
