<svg:g>
  <g *ngIf="symbol.symbol === SymbolType.Note">
    <rect
      class='note'
      [attr.x]="symbol.coord.x - size / 4 * 0.8"
      [attr.y]="symbol.coord.y - size / 4 * 0.8"
      [attr.width]="size / 2 * 0.8"
      [attr.height]="size / 2 * 0.8"
      [attr.rx]="size / 10 * 0.8"
      [attr.ry]="size / 10 * 0.8"
    ></rect>
    <line *ngIf="connectionTo.note"
          [attr.x1]="symbol.coord.x"
          [attr.x2]="connectionTo.note.coord.x"
          [attr.y1]="symbol.coord.y"
          [attr.y2]="connectionTo.note.coord.y"
          class="note-connection mouse-hide"
          [class.neume-connection]="!connectionTo.isNeumeStart"
          [class.graphical-connection]="connectionTo.graphicalConnected"
    >
    </line>
    <!--<line *ngIf="connectionTo.note"
          [attr.x1]="symbol.coord.x"
          [attr.x2]="connectionTo.note.coord.x"
          [attr.y1]="symbol.coord.y"
          [attr.y2]="connectionTo.note.coord.y"
          [class.neume-connection]="!connectionTo.isNeumeStart"
          [class.graphical-connection]="connectionTo.graphicalConnected"
          class="note-connection mouse-area"
          (mousedown)="connectionMouseDown.emit({'event': $event, 'symbol': symbol})"
          (mouseup)="connectionMouseUp.emit({'event': $event, 'symbol': symbol})"
          (mousemove)="connectionMouseMove.emit({'event': $event, 'symbol': symbol})"
    >
    </line>-->
  </g>
  <g *ngIf="symbol.symbol === SymbolType.Clef && asClef().type === ClefType.Clef_F"
  >
    <rect
      class='f_clef clef'
      [attr.x]="symbol.coord.x - size * 0.3"
      [attr.y]="symbol.coord.y - size * 0.8"
      [attr.width]="size * 0.6"
      [attr.height]="size * 0.6"
      [attr.rx]="size * 0.1"
      [attr.ry]="size * 0.1"
    ></rect>
    <line
      class='f_clef clef'
      [attr.x1]="symbol.coord.x - size * 0.5"
      [attr.y1]="symbol.coord.y - size * 0.8"
      [attr.x2]="symbol.coord.x - size * 0.5"
      [attr.y2]="symbol.coord.y + size * 2.0"
    ></line>
    <rect
      class='f_clef clef'
      [attr.x]="symbol.coord.x - size * 0.3"
      [attr.y]="symbol.coord.y + size * 0.2"
      [attr.width]="size * 0.6"
      [attr.height]="size * 0.6"
      [attr.rx]="size * 0.1"
      [attr.ry]="size * 0.1"
    ></rect>
  </g>
  <g *ngIf="symbol.symbol === SymbolType.Clef && asClef().type === ClefType.Clef_C"
  >
    <rect
      class='c_clef clef'
      [attr.x]="symbol.coord.x - size * 0.3"
      [attr.y]="symbol.coord.y - size * 0.8"
      [attr.width]="size * 0.6"
      [attr.height]="size * 0.6"
      [attr.rx]="size * 0.1"
      [attr.ry]="size * 0.1"
    ></rect>
    <line
      class='c_clef clef'
      [attr.x1]="symbol.coord.x - size * 0.3"
      [attr.y1]="symbol.coord.y - size * 0.2"
      [attr.x2]="symbol.coord.x - size * 0.3"
      [attr.y2]="symbol.coord.y + size * 0.2"
    ></line>
    <rect
      class='c_clef clef'
      [attr.x]="symbol.coord.x - size * 0.3"
      [attr.y]="symbol.coord.y + size * 0.2"
      [attr.rx]="size * 0.1"
      [attr.ry]="size * 0.1"
      [attr.width]="size * 0.6"
      [attr.height]="size * 0.6"
    ></rect>
  </g>
  <g app-element-non-scaling-component [p]="symbol.snappedCoord" [size]="5" [type]="1"></g>
</svg:g>
