<div class="center-content-container full-width">
  <div class="h1 title-wrapper">
    <h1>Global settings</h1>
  </div>
  <mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened
                [disableClose]="true"
    >
      <mat-nav-list>
        <a mat-list-item routerLink="/administration/view/default_models" [routerLinkActive]="'active'">
          <mat-icon>developer_board</mat-icon> <span class="nav-caption" i18n>Default Models</span>
        </a>
        <mat-divider></mat-divider>
      </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
      <app-administrative-view-default-models *ngIf="(view | async) === 'default_models'"></app-administrative-view-default-models>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
