<h1 mat-dialog-title>Clear book <span class="book-title">{{ data.book.name}}</span></h1>
<div mat-dialog-content>
  <app-error-message [error]="errorMessage" (closed)="errorMessage = ''"></app-error-message>
  <p>
    Do you really want to clean all files associated with book <span class="book-title">{{ data.book.name }}</span>?
    Only the original files will remain. This can not be undone!
  </p>
</div>
<div mat-dialog-actions align="end">
  <button mat-raised-button color="warn"(click)="onConfirm()">Clear</button>
  <button mat-raised-button color="cancel" (click)="close(false)">Cancel</button>
</div>
