.cross {
  vector-effect: non-scaling-stroke;
}

.circle {
  vector-effect: non-scaling-stroke;
}

.square {
  vector-effect: non-scaling-stroke;
}

.comment {
  fill: red;
  stroke: none;
}

.shadow {
  pointer-events: none;
  fill: url(#iconShadowGradient);
  stroke: none
}
