span.mark {
  background-color: #cc4848;

}

span.word {
  display: inline-block;
  pointer-events: all;

}

.div-container {
  display: inline-block;
}
.whitespace {
  white-space: pre; /* Forces the browser to render every single space exactly as it is */
}

.inline-container {
  display: inline; /* Keeps the words flowing naturally with the spaces */
}
