<div class="center-content-container">
  <h1>Available Books</h1>
  <app-error-message [error]="books.errorMessage" (closed)="books.errorMessage = ''"></app-error-message>
  <div class="top-button-bar icon-bar">
    <div class="add-button"><button class="btn btn-icon" (click)="onAdd()"><div class="icon icon-plus"></div></button></div>
  </div>
  <table class="table">
    <thead>
    <tr><th>Label</th><th>Created On</th><th></th></tr>
    </thead>
    <tbody>
    <tr *ngFor="let book of books.books">
      <td>{{ book.name }}</td><td>{{ book.created | date:'mediumDate' }}</td>
      <td class="icon-bar"><button class="btn btn-icon" (click)="selectBook(book.id)"><div class="icon icon-pencil"></div></button>
        <button class="btn btn-icon" (click)="deleteBook(book)"><div class="icon icon-wastebasket"></div></button></td>
    </tr>
    </tbody>
  </table>
</div>
