<div class="center-content-container">
  <h1>Available Books</h1>
  <app-error-message [error]="books.errorMessage" (closed)="books.errorMessage = ''"></app-error-message>
  <mat-toolbar class="light">
    <mat-toolbar-row>
      <span class="spacer"></span>
      <button mat-icon-button class="icon icon-plus" (click)="onAdd()"></button>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-table [dataSource]="books.books">
    <ng-container matColumnDef="label">
      <mat-header-cell *matHeaderCellDef> Label </mat-header-cell>
      <mat-cell *matCellDef="let book"> {{ book.name }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="created">
      <mat-header-cell *matHeaderCellDef> Created On </mat-header-cell>
      <mat-cell *matCellDef="let book"> {{ book.created | date:'mediumDate' }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="buttons">
      <mat-header-cell *matHeaderCellDef> </mat-header-cell>
      <mat-cell *matCellDef="let book">
        <button mat-icon-button (click)="selectBook(book.id)" class="large"><mat-icon class="icon icon-pencil"></mat-icon></button>
        <button mat-icon-button (click)="deleteBook(book)" class="large"><mat-icon class="icon icon-wastebasket"></mat-icon></button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
