<mat-card>
  <mat-card-header>
    <mat-icon mat-card-avatar>settings</mat-icon>
    <mat-card-title i18n>Settings</mat-card-title>
  </mat-card-header>
  <mat-card-content fxLayout="col">
    <div fxLayout="row" fxLayoutGap="40px" fxLayoutAlign="start center">
      <mat-form-field>
        <mat-label>Average staff line distance</mat-label>
        <input matInput type="number" [(ngModel)]="requestBody.avgLd" [min]="0" [disabled]="autoCompute.checked">
        <mat-hint>Average distance of two staff lines</mat-hint>
        <mat-icon matPrefix>vertical_align_center</mat-icon>
        <span matSuffix>px</span>
      </mat-form-field>
      <mat-checkbox #autoCompute [(ngModel)]="requestBody.automaticLd" [disabled]="true">Auto compute</mat-checkbox>
    </div>
  </mat-card-content>
</mat-card>
<app-book-step-page-selector
  [selection]="requestBody"
></app-book-step-page-selector>
<app-book-step-task-control
  [task]="task"
></app-book-step-task-control>
