
/* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version. */
mat-list-item {
  display: flex;
}

.user, .group, .permissions {
  flex: 1 1 100px;
}

.buttons {
  flex: 0 0 auto;
}

.permissions-option {
  height: 6em !important;
}
