<div class="center-content-container">
  <app-api-error-card [apiError]="apiError" (dismiss)="apiError = null"></app-api-error-card>
  <mat-card>
    <mat-card-header>
      <mat-icon mat-card-avatar>person</mat-icon>
      <mat-card-title i18n="@@Users">Users</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor="let user of permissions.users.keys()">
          <mat-icon mat-list-icon>person</mat-icon>
          <div class="user">
            {{ user }}
          </div>
          <div class="permissions">
            <mat-form-field>
              <mat-select #select (selectionChange)="userPermissionsChanged(user, $event)" [value]="permissionsOfUser(user)">
                <mat-select-trigger>{{select.value ? select.value.title : undefined}}</mat-select-trigger>
                <mat-option *ngFor="let p of availablePermissions"
                            [style.height]="'6em'" [value]="p">
                  <b>{{ p.title }}</b><br>
                  <small>{{ p.hint }}</small>
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="buttons">
            <button mat-icon-button (click)="deleteUser(user)"><mat-icon>clear</mat-icon></button>
          </div>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
    <mat-card-actions>
      <mat-form-field>
        <mat-select #userSelect>
          <mat-option *ngFor="let user of filteredUsers" [value]="user.username">{{user.firstName}} {{user.lastName}} ({{user.username}})</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-icon-button class="large" (click)="addUser(userSelect.value)"><mat-icon>add_circle_outline</mat-icon></button>
    </mat-card-actions>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-icon mat-card-avatar>group</mat-icon>
      <mat-card-title i18n>Groups</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor="let group of permissions.groups.keys()">
          <mat-icon mat-list-icon>group</mat-icon>
          <div class="group">
            {{ group }}
          </div>
          <div class="permissions">
            <mat-form-field>
              <mat-select #select (selectionChange)="groupPermissionsChanged(group, $event)" [value]="permissionsOfGroup(group)">
                <mat-select-trigger>{{select.value ? select.value.title : undefined}}</mat-select-trigger>
                <mat-option *ngFor="let p of availablePermissions"
                            [style.height]="'6em'" [value]="p">
                  <b>{{ p.title }}</b><br>
                  <small>{{ p.hint }}</small>
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="buttons">
            <button mat-icon-button (click)="deleteGroup(group)" i18n><mat-icon>clear</mat-icon></button>
          </div>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
    <mat-card-actions>
      <mat-form-field>
        <mat-select #groupSelect>
          <mat-option *ngFor="let group of filteredGroups" [value]="group.name">{{group.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-icon-button class="large" (click)="addGroup(groupSelect.value)"><mat-icon>add_circle_outline</mat-icon></button>
    </mat-card-actions>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-icon mat-card-avatar>public</mat-icon>
      <mat-card-title i18n="@@Public">Public</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <mat-select #select (selectionChange)="defaultPermissionsChanged($event)" [value]="defaultPermissions()">
          <mat-select-trigger>{{select.value ? select.value.title : undefined}}</mat-select-trigger>
          <mat-option *ngFor="let p of availableDefaultPermissions"
                      [style.height]="'6em'" [value]="p">
            <b>{{ p.title }}</b><br>
            <small>{{ p.hint }}</small>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
  </mat-card>
</div>
