.page-list {
  overflow-y: scroll;
  overflow-x: hidden;
  height: inherit;
  background-color: #111111;
}

.page-preview-wrapper {
  width: 100%;
  padding: 10px;
}

.page-preview {
  background-color: antiquewhite;
  display: block;
  border-radius: 5px;
}

.page-preview-image {
  width: 100%;
}

.page-preview-id {
  width: 100%;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  direction: rtl;
}
