ul {
  overflow-y: scroll;
  overflow-x: hidden;
  height: inherit;
}

.page-preview {
  width: 100%;
  padding: 10px;
}

.page-preview-image {
  width: 100%;
}

.page-preview-id {
  width: 100%;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  direction: rtl;
}
