<h4 i18n>Developer options</h4>
<div>
  <mat-slide-toggle [(ngModel)]="showToolState" i18n>Show tool state</mat-slide-toggle>
  <mat-slide-toggle [(ngModel)]="showAnnotationCounts" i18n>Show annotation counts</mat-slide-toggle>
  <mat-slide-toggle [(ngModel)]="showActions" i18n>Show actions</mat-slide-toggle>
  <mat-slide-toggle [(ngModel)]="showTiming" i18n>Show timing</mat-slide-toggle>

</div>
<div>
  <app-debug-action-statistics
    [showActions]="showActions"
    [showAnnotationCounts]="showAnnotationCounts"
    [showTiming]="showTiming"
  ></app-debug-action-statistics>
  <app-debug *ngIf="showToolState"></app-debug>
</div>
