<mat-card appearance="outlined">
  <mat-card-header>
    <mat-icon mat-card-avatar>info</mat-icon>
    <mat-card-title i18n>Book information</mat-card-title>
  </mat-card-header>
  <mat-card-content class="flex-col">
    <mat-form-field>
      <input matInput placeholder="Id" i18n-placeholder [(ngModel)]="currentBookMeta.id" readonly>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Name" i18n-placeholder [(ngModel)]="currentBookMeta.name">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Date of origin" i18n-placeholder [(ngModel)]="currentBookMeta.dateOfOrigin">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Place of origin" i18n-placeholder [(ngModel)]="currentBookMeta.placeOfOrigin">
    </mat-form-field>
    <div class="flex-row">
      <mat-form-field>
        <mat-label i18n>Style</mat-label>
        <mat-select [(ngModel)]="currentBookMeta.notationStyle">
          @for (s of globalSettings.bookStyles; track s) {
            <mat-option [value]="s.id">{{ s.name }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
    <div class="flex-row">
      <mat-form-field>
        <mat-label i18n>Number of staff lines</mat-label>
        <input matInput type="number" min="1" max="10" [(ngModel)]="currentBookMeta.numberOfStaffLines">
        <mat-hint i18n>Used as default by the staff line detection</mat-hint>
      </mat-form-field>
    </div>
    <div class="flex-row">
      <button mat-flat-button (click)="showStats()"><mat-icon>show_chart</mat-icon> <span i18n>Stats</span></button>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="saveInfo()" i18n="@@Save"><mat-icon>save</mat-icon> Save</button>
    <button mat-raised-button (click)="resetInfo()" i18n="@@Reset"><mat-icon>undo</mat-icon> Reset</button>
  </mat-card-actions>
</mat-card>

<mat-card appearance="outlined">
  <mat-card-header>
    <mat-icon mat-card-avatar >warning</mat-icon>
    <mat-card-title i18n>Danger zone</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item>
        <div class="two-col">
          <div>
            <b mat-line i18n>Delete this book</b>
            <p mat-line i18n>Once you delete a book, there is no going back. Please be certain.</p>
          </div>
          <div>
            <button mat-raised-button color="warn" (click)="destroyBook()"><mat-icon>delete_forever</mat-icon> <span i18n="@@Delete">Delete</span></button>
          </div>
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </mat-card-content>
  <mat-card-actions>
  </mat-card-actions>
</mat-card>
