<mat-card>
  <mat-card-header>
    <mat-icon mat-card-avatar>info</mat-icon>
    <mat-card-title i18n>Book information</mat-card-title>
  </mat-card-header>
  <mat-card-content fxLayout="column">
    <mat-form-field>
      <input matInput placeholder="Id" [(ngModel)]="currentBookMeta.id" readonly>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Name" [(ngModel)]="currentBookMeta.name">
    </mat-form-field>
    <div fxLayout="row">
      <mat-form-field>
        <mat-label>Style</mat-label>
        <mat-select [(ngModel)]="currentBookMeta.notationStyle">
          <mat-option *ngFor="let s of globalSettings.bookStyles" [value]="s.id">{{ s.name }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="saveInfo()" i18n="@@Save"><mat-icon>save</mat-icon> Save</button>
    <button mat-raised-button (click)="resetInfo()" i18n="@@Reset"><mat-icon>undo</mat-icon> Reset</button>
  </mat-card-actions>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-icon mat-card-avatar >warning</mat-icon>
    <mat-card-title i18n>Danger zone</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item>
        <div class="two-col">
          <div>
            <b mat-line i18n>Delete this book</b>
            <p mat-line i18n>Once you delete a book, there is no going back. Please be certain.</p>
          </div>
          <div>
            <button mat-raised-button color="warn" (click)="destroyBook()"i18n="@@Delete"><mat-icon>delete_forever</mat-icon> Delete</button>
          </div>
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </mat-card-content>
  <mat-card-actions>
  </mat-card-actions>
</mat-card>
