@for (staffLine of staffLines; track staffLine.id) {
  @let path = staffLine.getPath();
  <svg:g>
    <polyline
      [attr.points]="path"
      class="staff-line view"
      [class.highlighted]="staffLine.highlighted"
      [class.space]="staffLine.space"
      [class.dry-point-line]="staffLine.dryPointLine"
    ></polyline>
    @if (editorTool.isStaffLineSelectable(staffLine)) {
      <polyline
        [attr.points]="path"
        class="staff-line overlay"
        (mousedown)="onMouseDown($event, staffLine)"
        (mouseup)="onMouseUp($event, staffLine)"
        (mousemove)="onMouseMove($event, staffLine)"
      ></polyline>
    }
    </svg:g>
  }
