<svg:g *ngIf="polyLines && state !== 'idle' ">
  <g *ngFor="let polyLine of polyLines">
    <polygon
      class="polyline-editor"
      [attr.points]="polyLine.getPath()"
      [class.selected]="selectedPolyLines.has(polyLine)"
      [class.selectable]="isSelectable()"
      (mouseup)="onPolygonMouseUp($event, polyLine)"
      (mousedown)="onPolygonMouseDown($event, polyLine)"
      (mousemove)="onPolygonMouseMove($event, polyLine)"
    />
  </g>
  <g *ngIf="state === 'create'">
    <polygon
      class="polyline-editor selected"
      [attr.points]="currentCreatedPolyLine.getPath()"
    />
    <g *ngFor="let p of currentCreatedPolyLine.points">
      <g app-element-non-scaling-point [p]="p"
         [selected]="currentCreatedPoint === p"
      ></g>
    </g>
  </g>
  <g *ngFor="let polyLine of selectedPolyLines">
    <g *ngFor="let p of polyLine.points">
      <g app-element-non-scaling-point [p]="p"
         [class.selectable]="isSelectable()"
         (mouseup)="onPointMouseUp($event, p, polyLine)"
         (mousedown)="onPointMouseDown($event, p, polyLine)"
         (mousemove)="onPointMouseMove($event, p)"
         [selected]="selectedPoints.has(p)"
      ></g>
    </g>
  </g>
  <g app-selection-box
     (selectionFinished)="onSelectionFinished($event)"
  />
</svg:g>
