<svg:g [class.selected]="selected" [attr.transform]="'translate(' + symbol.coord.x + ',' + symbol.coord.y + ')'">

  @if (visible) {
    @let box = size * 0.4;
    @let r = size * 0.08;

    @if (selectable) {
      <rect
        class='selection-box'
        [attr.x]="-box / 2"
        [attr.y]="-box / 2"
        [attr.width]="box"
        [attr.height]="box"
        [attr.rx]="r"
        [attr.ry]="r"
      ></rect>
    }

    @if (symbol.symbol === SymbolType.Note) {
      @if (noteGlyph; as glyph) {
        <path
          [attr.class]="glyph.cls"
          [attr.transform]="glyph.transform"
          [attr.d]="glyph.d"
          [style.stroke]="noteStroke"
        ></path>
      } @else {
        <rect
          class='note default'
          [attr.x]="-box / 2"
          [attr.y]="-box / 2"
          [attr.width]="box"
          [attr.height]="box"
          [attr.rx]="r"
          [attr.ry]="r"
          [style.stroke]="boxStroke"
        ></rect>
        @if (!showAlternateSymbolView && symbol.missing) {
          <rect
            class='note default missing'
            [attr.x]="-box / 2"
            [attr.y]="-box / 2"
            [attr.width]="box"
            [attr.height]="box"
            [attr.rx]="r"
            [attr.ry]="r"
          ></rect>
        }
        @if (!showAlternateSymbolView && hasErrorType) {
          <rect
            class='note default strokeOffset'
            [attr.x]="-box"
            [attr.y]="-box"
            [attr.width]="box * 2"
            [attr.height]="box * 2"
            [attr.rx]="r"
            [attr.ry]="r"
            [style.stroke]="symbolColor"
          ></rect>
        }
      }
      @if (connectionTo.note) {
        <line
          [attr.x1]="0"
          [attr.x2]="connectionTo.note.coord.x - symbol.coord.x"
          [attr.y1]="0"
          [attr.y2]="connectionTo.note.coord.y - symbol.coord.y"
          class="note-connection mouse-hide"
          [class.graphical-connection]="connectionTo.graphicalConnected"
          >
        </line>
      }
    }

    @if (symbol.symbol === SymbolType.Clef && clefGeom; as clef) {
      @if (showAlternateSymbolView) {
        <g>
          <rect
            [attr.class]="clef.cls"
            [attr.x]="-size * 0.3"
            [attr.y]="-size * 0.8"
            [attr.width]="size * 0.6"
            [attr.height]="size * 0.6"
            [attr.rx]="size * 0.1"
            [attr.ry]="size * 0.1"
            [style.stroke]="boxStroke"
          ></rect>
          <line
            [attr.class]="clef.cls"
            [attr.x1]="size * clef.altLine.x"
            [attr.y1]="size * clef.altLine.y1"
            [attr.x2]="size * clef.altLine.x"
            [attr.y2]="size * clef.altLine.y2"
            [style.stroke]="boxStroke"
          ></line>
          <rect
            [attr.class]="clef.cls"
            [attr.x]="-size * 0.3"
            [attr.y]="size * 0.2"
            [attr.width]="size * 0.6"
            [attr.height]="size * 0.6"
            [attr.rx]="size * 0.1"
            [attr.ry]="size * 0.1"
            [style.stroke]="boxStroke"
          ></rect>
        </g>
      } @else {
        <g>
          <rect
            [attr.class]="clef.cls"
            [attr.x]="size * clef.box.x"
            [attr.y]="size * clef.box.y"
            [attr.width]="size * clef.box.w"
            [attr.height]="size * clef.box.h"
            [attr.rx]="size * 0.1"
            [attr.ry]="size * 0.1"
            [style.stroke]="boxStroke"
          ></rect>
          @if (hasErrorType) {
            <rect
              [attr.class]="clef.errorCls"
              [attr.x]="size * clef.errorBox.x"
              [attr.y]="size * clef.errorBox.y"
              [attr.width]="size * clef.errorBox.w"
              [attr.height]="size * clef.errorBox.h"
              [attr.rx]="size * 0.1"
              [attr.ry]="size * 0.1"
              [style.stroke]="symbolColor"
            ></rect>
          }
        </g>
      }
    }

    @if (symbol.symbol === SymbolType.Accid && accidGlyph; as glyph) {
      <g
        [attr.transform]="'scale(' + size * 0.07 + ')'"
        class="accid"
        >
        <g
          [attr.class]="glyph.cls"
          [attr.transform]="glyph.transform"
          [style.stroke]="accidStroke"
          >
          <path
            [attr.transform]="glyph.pathTransform"
            [attr.d]="glyph.d"
          ></path>
        </g>
      </g>
    }

    @if (genericGlyph) {
      <path class="generic-glyph"
        [attr.d]="genericGlyph.svgPath"
        [attr.transform]="genericGlyphTransform"
        [attr.stroke-width]="genericGlyph.svgPathStroke || null"
        [attr.fill]="genericGlyph.svgPathStroke ? 'none' : colorOfSymbol"
        [attr.stroke]="genericGlyph.svgPathStroke ? colorOfSymbol : 'none'"
      ></path>
    }

    @if (showAlternateSymbolView) {
      <g app-element-non-scaling-component [p]="symbol.snappedCoord.subtract(symbol.coord)" [size]="8" [type]="NonScalingType.CROSS"></g>
    }
  }

</svg:g>
