:host >>> .cross {
  stroke-width: 1;
  stroke: black;
}

@keyframes dash {
  to {
    stroke-dashoffset: 4;
  }
}

.selected .note, .selected .clef {
  animation: dash 0.5s linear;
  animation-iteration-count: infinite;
  stroke-dasharray: 2 2;
  stroke-width: 2;
}

.selection-box {
  fill: black;
  fill-opacity: 0;
}

.note {
  fill-opacity: 0.5;
  fill: yellow;
  stroke: yellow;
  stroke-width: 0;
  vector-effect: non-scaling-stroke;
}
.mouse-hide {
  pointer-events: none;
}
.note-connection {
  stroke-width: 2;
  vector-effect: non-scaling-stroke;
}
.graphical-connection, .graphical-connection.neume-connection {
  stroke: black;
  stroke-dasharray: none;
}
.neume-connection {
  stroke: black;
  stroke-dasharray: 4px 2px;
}
.mouse-area {
  opacity: 0;
}
.note-connection.mouse-area {
  stroke-width: 10;
}
.mouse-area:hover {
  opacity: 0.5;
}

.selected circle.note {
  stroke: red;
}

.highlight circle.note {
  fill: orangered;
}

.clef {
  stroke-width: 2;
  opacity: 0.5;
  vector-effect: non-scaling-stroke;
}
.c_clef {
  stroke: cyan;
  fill: cyan;
}
.selected .c_clef {
  stroke: cyan;
}
.f_clef {
  stroke: cyan;
  fill: cyan;
}
.selected .f_clef {
  stroke: cyan;
}

.accid {
  fill: yellow;
  opacity: 0.5;
}

.natural {
  stroke: yellow;
  stroke-width: 1;
  fill: none;

}

.sharp {

}

.flat {

}
