<h1 mat-dialog-title i18n>Import book</h1>

<div mat-dialog-content>
  @if (apiError) {
    <app-api-error-card
      [apiError]="apiError"
      (dismiss)="apiError = null">
    </app-api-error-card>
  }

  @if (isUploading) {
    <div style="margin-bottom: 20px;">
      <mat-progress-bar mode="determinate" [value]="uploadProgress"></mat-progress-bar>
      <div style="display: flex; justify-content: space-between; margin-top: 4px;">
        <small>{{ uploadProgress }}% uploaded</small>
      </div>
    </div>
  }

  <mat-form-field appearance="outline" style="width: 100%;">
    <mat-label i18n>Book Package (ZIP)</mat-label>

    <ngx-mat-dropzone>
      <input type="file"
        fileInput
        [formControl]="fileControl"
        accept="application/zip" />

      <div style="display: flex; align-items: center; padding: 10px;">
        <mat-icon color="primary" style="margin-right: 12px;">folder_zip</mat-icon>

        @if (!fileControl.value) {
          <span i18n>Drag ZIP here or click to browse</span>
        }
        @if (fileControl.value) {
          <span>{{ fileControl.value.names }}</span>
        }
      </div>
    </ngx-mat-dropzone>

    @if (fileControl.hasError('required')) {
      <mat-error i18n>
      A ZIP file is required
    </mat-error>
    }
  </mat-form-field>
</div>

<div mat-dialog-actions align="end">
  <button mat-raised-button color="primary"
    (click)="processUpload()"
    [disabled]="isUploading || fileControl.invalid"
    i18n="@@Upload">
    <mat-icon>cloud_upload</mat-icon> Upload
  </button>

  <button mat-button (click)="close(false)" i18n="@@Cancel">
    Cancel
  </button>
</div>
