<h1 mat-dialog-title *ngIf="data.pages.length === 1" i18n>
  Export one page of book <span class="book-title">{{ data.bookMeta.name }}</span>
</h1>
<h1 mat-dialog-title *ngIf="data.pages.length > 1" i18n>
  Export {{ data.pages.length }} pages of book <span class="book-title">{{ data.bookMeta.name}}</span>
</h1>
<h1 mat-dialog-title *ngIf="data.pages.length == 0" i18n>
  Export all pages of book <span class="book-title">{{ data.bookMeta.name}}</span>
</h1>
<div mat-dialog-content>
  <app-error-message [error]="errorMessage" (closed)="errorMessage = ''"></app-error-message>
  <mat-form-field>
    <mat-select [(value)]="selectDownloadContent" class="form-control" placeholder="Select export format">
      <mat-option value="monodiplus.json" i18n>Monodi Plus</mat-option>
      <mat-option value="annotations.zip" i18n>Annotations</mat-option>
      <mat-option value="backup.zip" i18n>Backup</mat-option>
    </mat-select>
  </mat-form-field>
  <p *ngIf="selectDownloadContent === 'monodiplus.json'" i18n>
    This will export a json file that can be uploaded to Monodi Plus.
    All positional annotations are removed, only musical relevant information is preserved, i. e. music lines
    comprising syllables and the corresponding neumes, and accompanying texts.
  </p>
  <p *ngIf="selectDownloadContent === 'annotations.zip'" i18n>
    This will export a zip file containing the full annotations and the corresponding original images grouped by types,
    i.e. one directroy will contain all pcgts, other directories exist for dewskewed color or grayscale.
  </p>
  <p *ngIf="selectDownloadContent === 'backup.zip'" i18n>
    This will export a zip file containing the full annotations ordered page wise.
    The pcgts, statistics, page progress, and solely the original image are exported since all other images can be computed again.
  </p>
</div>
<div mat-dialog-actions align="end">
  <button *ngIf="state === ES.Idle" mat-raised-button color="primary" (click)="onConfirm()" i18n="@@Start_download">Start Download</button>
  <button *ngIf="state === ES.Downloading" mat-raised-button color="primary" [disabled]="true" i18n="@@Downloading">Downloading</button>
  <button mat-raised-button color="warn" (click)="close(false)" i18n="@@Cancel">Cancel</button>
</div>
