<div class="view_wrapper">
  <div #renderContainer style =" width:calc(100% - 250px);">
    <app-render-view  [url]="documentCommunication.svg_url(getRenderWidth())" (finishedLoading) ="onSVGRenderFinished($event)"
    ></app-render-view>
  </div>

</div>

<div id="property-widgets">
  <div class="property-widget">
    <div class="property-widget">
      @if (svgLoaded) {
        <app-midi-viewer [url]="documentCommunication.midi_url()" [svgNodes] = "svgNodes"> </app-midi-viewer>
      }

    </div>

  </div>


  <div class="property-widget view_switch">
    <tr class="buttons">
      <button mat-raised-button [disabled]="true" i18n>Switch to Monodi+</button>
      <button mat-raised-button (click)="routeToBookOverview()" i18n>Return to Book Overview</button>

    </tr>
  </div>
</div>
