<div [style.display]="comment ? 'block' : 'none'">
  <mat-form-field class="full-width">
    <mat-label>Comment</mat-label>
    <textarea
      #commentArea="matInput"
      [value]="text"
      (change)="text = commentArea.value"
      placeholder="Enter comment"
      matInput
      cdkTextareaAutosize
      cdkAutosizeMinRows="1"
      cdkAutosizeMaxRows="10"
      (keydown)="onKeydown($event)"
      (keyup)="$event.stopPropagation()"
    ></textarea>
  </mat-form-field>
  <mat-divider></mat-divider>
  <button mat-flat-button color="warn" (click)="onDelete()">Delete comment</button>
</div>
<div *ngIf="commentHolder && !comment">
  <button mat-flat-button color="primary" (click)="onAdd($event)">Add comment</button>
</div>
