.line-split-rect {
  fill: red;
  fill-opacity: 0.5;
  stroke: none;
  pointer-events: none;
}
.line-split-rect.add {
  fill: lightgreen;
}
.line-split-connection {
  fill: none;
  stroke: black;
  stroke-dasharray: 5px;
  vector-effect: non-scaling-stroke;
  pointer-events: none;
}
.line-split-boundary {
  stroke: red;
  stroke-width: 2;
  vector-effect: non-scaling-stroke;
  pointer-events: none;
}

.line-insert {
  fill: yellow;
  fill-opacity: 1;
  stroke-width: 2;

  stroke: yellow;
  pointer-events: none;
}
