<svg:g>
  <g *ngFor="let currentLine of currentLines">
    <polyline [attr.points]="currentLine.getPath()" class="staff-line editing"
              (mousemove)="null"
              (mousedown)="null"
              (mouseup)="null"
    />
    <g *ngIf="isStaffLineSelectable(null)">
      <g app-element-non-scaling-point
         class="selectable"
         [p]="point"
         *ngFor="let point of currentLine.points"
         [selected]="currentPoints.has(point)"
         (mousedown)="onPointMouseDown($event, point)"
         (mouseup)="onPointMouseUp($event, point)"
      />
    </g>
  </g>
  <g app-selection-box
     (selectionFinished)="onSelectionFinished($event)"
  />
</svg:g>
