<svg:g>
  <g *ngFor="let currentLine of currentLines">
    <polyline [attr.points]="currentLine.getPath()" class="staff-line editing"
              (mousemove)="null"
              (mousedown)="null"
              (mouseup)="null"
    />
    <circle
      *ngFor="let point of currentLine.points"
      [class.selected-point]="currentPoints.has(point)"
      [attr.cx]="point.x"
      [attr.cy]="point.y"
      class="staff-points editing"
      r="5"
      (click)="null"
      (mousedown)="onPointMouseDown($event, point)"
      (mouseup)="onPointMouseUp($event, point)"
    />
  </g>
  <g app-selection-box />
</svg:g>
