<div class="center-content-container full-width" style = "max-width: 100vw;">
  <div class="h1 title-wrapper">
    <h1>{{ (bookMeta | async).name }}</h1>
  </div>
  <mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened
                [disableClose]="true"
    >
      <mat-nav-list>
        <a mat-list-item [routerLink]="link('content')" [routerLinkActive]="'active'">
          <mat-icon>apps</mat-icon> <span class="nav-caption" i18n>View content</span>
        </a>
        <a mat-list-item [routerLink]="link('documents')" [routerLinkActive]="'active'">
          <mat-icon>description</mat-icon> <span class="nav-caption" i18n>View documents of Book</span>
        </a>
        <a *ngIf="showSettings()" mat-list-item [routerLink]="link('settings')" [routerLinkActive]="'active'">
          <mat-icon>settings</mat-icon> <span class="nav-caption" i18n>Settings</span>
        </a>

        <mat-divider></mat-divider>
        <a mat-list-item [routerLink]="link('workflow')" [routerLinkActive]="'active'">
          <mat-icon>assignment</mat-icon> <span class="nav-caption" i18n>Workflow</span>
        </a>
        <a mat-list-item class="sub-menu" [routerLink]="link('step_preprocessing')" [routerLinkActive]="'active'">
          <span class="nav-caption" i18n>Preprocessing</span>
        </a>
        <a mat-list-item class="sub-menu" [routerLink]="link('step_staff_lines')" [routerLinkActive]="'active'">
          <span class="nav-caption" i18n>Staff lines</span>
        </a>
        <a mat-list-item class="sub-menu" [routerLink]="link('step_layout')" [routerLinkActive]="'active'">
          <span class="nav-caption" i18n>Layout</span>
        </a>
        <a mat-list-item class="sub-menu" [routerLink]="link('step_symbols')" [routerLinkActive]="'active'">
          <span class="nav-caption" i18n>Symbols</span>
        </a>
        <a mat-list-item class="sub-menu" [routerLink]="link('step_text')" [routerLinkActive]="'active'">
          <span class="nav-caption" i18n>Text</span>
        </a>
        <a mat-list-item class="sub-menu" [routerLink]="link('step_document')" [routerLinkActive]="'active'">
          <span class="nav-caption" i18n>Documents</span>
        </a>
        <a mat-list-item class="sub-menu" [routerLink]="link('step_syllables')" [routerLinkActive]="'active'">
          <span class="nav-caption" i18n>Syllables</span>
        </a>
        <a mat-list-item class="sub-menu" [routerLink]="link('step_postprocessing')" [routerLinkActive]="'active'">
          <span class="nav-caption" i18n>Postprocessing</span>
        </a>
        <a mat-list-item class="sub-menu" [routerLink]="link('one_click_workflow')" [routerLinkActive]="'active'">
          <span class="nav-caption" i18n>One Click Workflow</span>
        </a>
        <mat-divider></mat-divider>

        <a mat-list-item [routerLink]="link('comments')" [routerLinkActive]="'active'">
          <mat-icon [matBadge]="(commentsCount | async).toString()" matBadgePosition="above before">comment</mat-icon> <span class="nav-caption" i18n>Comments</span>
        </a>
        <a *ngIf="showAuth()" mat-list-item [routerLink]="link('security')" [routerLinkActive]="'active'">
          <mat-icon>security</mat-icon> <span class="nav-caption" i18n>Permissions</span>
        </a>
        <ng-container *ngIf="showTrain()">
          <a mat-list-item [routerLink]="link('train_overview')" [routerLinkActive]="'active'">
            <mat-icon>developer_board</mat-icon> <span class="nav-caption" i18n>Training</span>
          </a>
          <a mat-list-item class="sub-menu" [routerLink]="link('train_staff_line_detector')" [routerLinkActive]="'active'">
            <span class="nav-caption" i18n>Staff lines</span>
          </a>
          <a mat-list-item class="sub-menu" [routerLink]="link('train_layout_detector')" [routerLinkActive]="'active'">
            <span class="nav-caption" i18n>Drop Capitals</span>
          </a>
          <a mat-list-item class="sub-menu" [routerLink]="link('train_symbol_detector')" [routerLinkActive]="'active'">
            <span class="nav-caption" i18n>Symbols</span>
          </a>
          <a mat-list-item class="sub-menu" [routerLink]="link('train_character_recognition')" [routerLinkActive]="'active'">
            <span class="nav-caption" i18n>Text recognition</span>
          </a>
        </ng-container>
      </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
      <ng-container *ngIf="loaded">
        <app-book-step-workflow *ngIf="(view | async) === 'workflow'"
                                [book]="book | async"
                                [bookMeta]="bookMeta | async"
        ></app-book-step-workflow>
        <app-book-step-view *ngIf="(view | async) === 'step_preprocessing'"
                            [algorithmGroup]="AG.Preprocessing"
                            [book]="book | async"
                            [bookMeta]="bookMeta | async"
        ></app-book-step-view>
        <app-book-step-view *ngIf="(view | async) === 'step_staff_lines'"
                            [algorithmGroup]="AG.StaffLines"
                            [book]="book | async"
                            [bookMeta]="bookMeta | async"
        ></app-book-step-view>
        <app-book-step-view *ngIf="(view | async) === 'step_layout'"
                            [algorithmGroup]="AG.Layout"
                            [book]="book | async"
                            [bookMeta]="bookMeta | async"
        ></app-book-step-view>
        <app-book-step-view *ngIf="(view | async) === 'step_symbols'"
                            [algorithmGroup]="AG.Symbols"
                            [book]="book | async"
                            [bookMeta]="bookMeta | async"
        ></app-book-step-view>
        <app-book-step-view *ngIf="(view | async) === 'step_text'"
                            [algorithmGroup]="AG.Text"
                            [book]="book | async"
                            [bookMeta]="bookMeta | async"
        ></app-book-step-view>
        <app-book-step-view *ngIf="(view | async) === 'step_document'"
                            [algorithmGroup]="AG.Documents"
                            [book]="book | async"
                            [bookMeta]="bookMeta | async"
        ></app-book-step-view>
        <app-book-step-view *ngIf="(view | async) === 'step_syllables'"
                            [algorithmGroup]="AG.Syllables"
                            [book]="book | async"
                            [bookMeta]="bookMeta | async"
        ></app-book-step-view>
        <app-book-step-view *ngIf="(view | async) === 'step_postprocessing'"
                            [algorithmGroup]="AG.Postprocessing"
                            [book]="book | async"
                            [bookMeta]="bookMeta | async"
        ></app-book-step-view>
        <app-one-click-workflow *ngIf="(view | async) === 'one_click_workflow'"
                                [book]="book | async"
                                [bookMeta]="bookMeta | async"
        ></app-one-click-workflow>

        <app-books-preview *ngIf="(view | async) === 'content'"
                           [pages]="pages | async"
                           [bookCom]="book"
                           [bookMeta]="bookMeta | async"
                           [totalPages]="totalPages"
                           [pageIndex]="pageIndex"
                           (reload)="reload()"
                           (pagesDeleted)="pagesDeleted($event)"
                           (pagesChanged)="pagesChanged($event)"
                           (switchPagination)="switchPagination($event)"
        ></app-books-preview>
        <app-book-comments-view *ngIf="(view | async) === 'comments'"></app-book-comments-view>
        <app-book-security-view *ngIf="(view | async) === 'security'"></app-book-security-view>
        <app-book-train-overview *ngIf="(view | async) === 'train_overview'"
                                 [book]="book | async"
        ></app-book-train-overview>
        <app-book-train-view *ngIf="(view | async) === 'train_symbol_detector'"
                             [book]="book | async"
                             [meta]="bookMeta | async"
                             [operation]="'train_symbols'"
        ></app-book-train-view>
        <app-book-train-view *ngIf="(view | async) === 'train_staff_line_detector'"
                             [book]="book | async"
                             [meta]="bookMeta | async"
                             [operation]="'train_staff_line_detector'"
        ></app-book-train-view>
        <app-book-train-view *ngIf="(view | async) === 'train_layout_detector'"
                             [book]="book | async"
                             [meta]="bookMeta | async"
                             [operation]="'train_layout_detector'"
        ></app-book-train-view>
        <app-book-train-view *ngIf="(view | async) === 'train_character_recognition'"
                             [book]="book | async"
                             [meta]="bookMeta | async"
                             [operation]="'train_character_recognition'"
        ></app-book-train-view>
        <app-book-settings-view *ngIf="(view | async) === 'settings'"
                                [bookMeta]="bookMeta"
                                [bookCom]="book | async"
                                (bookMetaUpdated)="bookMetaUpdated($event)"
        ></app-book-settings-view>
        <app-book-documents-view *ngIf="(view | async) === 'documents'" style="width: 100%"
         ></app-book-documents-view>
      </ng-container>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
