<div class="center-content-container full-width" style = "max-width: 100vw;">
  <div class="h1 title-wrapper">
    <h1>{{ (bookMeta | async).name }}</h1>
  </div>
  <mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened
      [disableClose]="true"
      >
      <mat-nav-list>
        <a mat-list-item [routerLink]="link('content')" [routerLinkActive]="'active'">
          <mat-icon>apps</mat-icon> <span class="nav-caption" i18n>View content</span>
        </a>
        <a mat-list-item [routerLink]="link('documents')" [routerLinkActive]="'active'">
          <mat-icon>description</mat-icon> <span class="nav-caption" i18n>View chants of Book</span>
        </a>
        @if (showSettings()) {
          <a mat-list-item [routerLink]="link('settings')" [routerLinkActive]="'active'">
            <mat-icon>settings</mat-icon> <span class="nav-caption" i18n>Settings</span>
          </a>
        }

        <mat-divider></mat-divider>
        <a mat-list-item [routerLink]="link('workflow')" [routerLinkActive]="'active'">
          <mat-icon>assignment</mat-icon> <span class="nav-caption" i18n>Workflow</span>
        </a>
        <mat-divider></mat-divider>

        <a mat-list-item [routerLink]="link('comments')" [routerLinkActive]="'active'">
          <mat-icon [matBadge]="(commentsCount | async).toString()" matBadgePosition="above before" aria-hidden="false" matBadgeDescription="Comments" i18n-matBadgeDescription>comment</mat-icon> <span class="nav-caption" i18n>Comments</span>
        </a>
        <a mat-list-item [routerLink]="link('melodic_search')" [routerLinkActive]="'active'">
          <mat-icon>search</mat-icon> <span class="nav-caption" i18n>Pattern Search</span>
        </a>
        @if (showAuth()) {
          <a mat-list-item [routerLink]="link('security')" [routerLinkActive]="'active'">
            <mat-icon>security</mat-icon> <span class="nav-caption" i18n>Permissions</span>
          </a>
        }
        @if (showTrain()) {
          <a mat-list-item [routerLink]="link('train_overview')" [routerLinkActive]="'active'">
            <mat-icon>developer_board</mat-icon> <span class="nav-caption" i18n>Training</span>
          </a>
          <a mat-list-item class="sub-menu" [routerLink]="link('train_staff_line_detector')" [routerLinkActive]="'active'">
            <span class="nav-caption" i18n>Staff lines</span>
          </a>
          <a mat-list-item class="sub-menu" [routerLink]="link('train_layout_detector')" [routerLinkActive]="'active'">
            <span class="nav-caption" i18n>Drop Capitals</span>
          </a>
          <a mat-list-item class="sub-menu" [routerLink]="link('train_symbol_detector')" [routerLinkActive]="'active'">
            <span class="nav-caption" i18n>Symbols</span>
          </a>
          <a mat-list-item class="sub-menu" [routerLink]="link('train_character_recognition')" [routerLinkActive]="'active'">
            <span class="nav-caption" i18n>Text recognition</span>
          </a>
          <a mat-list-item class="sub-menu" [routerLink]="link('train_end2end')" [routerLinkActive]="'active'">
            <span class="nav-caption" i18n>End-to-end</span>
          </a>
        }
      </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
      @if (loaded) {
        <!-- 'one_click_workflow' is kept as an alias for old bookmarks -->
        @if ((view | async) === 'workflow' || (view | async) === 'one_click_workflow') {
          <app-one-click-workflow
            [book]="book | async"
            [bookMeta]="bookMeta | async"
          ></app-one-click-workflow>
        }
        @if ((view | async) === 'content') {
          <app-books-preview
            [pages]="pages | async"
            [bookCom]="book"
            [bookMeta]="bookMeta | async"
            [totalPages]="totalPages"
            [pageIndex]="pageIndex"
            (reload)="reload()"
            (pagesDeleted)="pagesDeleted($event)"
            (pagesChanged)="pagesChanged($event)"
            (switchPagination)="switchPagination($event)"
          ></app-books-preview>
        }
        @if ((view | async) === 'comments') {
          <app-book-comments-view></app-book-comments-view>
        }

        @if ((view | async) === 'security') {
          <app-book-security-view></app-book-security-view>
        }
        @if ((view | async) === 'train_overview') {
          <app-book-train-overview
            [book]="book | async"
          ></app-book-train-overview>
        }
        @if ((view | async) === 'train_symbol_detector') {
          <app-book-train-view
            [book]="book | async"
            [meta]="bookMeta | async"
            [operation]="'train_symbols'"
          ></app-book-train-view>
        }
        @if ((view | async) === 'train_staff_line_detector') {
          <app-book-train-view
            [book]="book | async"
            [meta]="bookMeta | async"
            [operation]="'train_staff_line_detector'"
          ></app-book-train-view>
        }
        @if ((view | async) === 'train_layout_detector') {
          <app-book-train-view
            [book]="book | async"
            [meta]="bookMeta | async"
            [operation]="'train_layout_detector'"
          ></app-book-train-view>
        }
        @if ((view | async) === 'train_character_recognition') {
          <app-book-train-view
            [book]="book | async"
            [meta]="bookMeta | async"
            [operation]="'train_character_recognition'"
          ></app-book-train-view>
        }
        @if ((view | async) === 'train_end2end') {
          <app-book-train-view
            [book]="book | async"
            [meta]="bookMeta | async"
            [operation]="'train_end2end'"
          ></app-book-train-view>
        }
        @if ((view | async) === 'settings') {
          <app-book-settings-view
            [bookMeta]="bookMeta"
            [bookCom]="book | async"
            (bookMetaUpdated)="bookMetaUpdated($event)"
          ></app-book-settings-view>
        }
        @if ((view | async) === 'documents') {
          <app-book-documents-view style="width: 100%"
          ></app-book-documents-view>
        }


        @if ((view | async) === 'melodic_search') {
          <app-symbol-pattern-search></app-symbol-pattern-search>
        }
      }
    </mat-drawer-content>
  </mat-drawer-container>
</div>
