<div class="center-content-container full-width">
  <div class="h1 title-wrapper">
    <h1>{{ (bookMeta | async).name }}</h1>
  </div>
  <mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened
                [disableClose]="true"
    >
      <mat-nav-list>
        <a mat-list-item [routerLink]="link('content')" [routerLinkActive]="'active'">
          <mat-icon>apps</mat-icon> <span class="nav-caption" i18n>View content</span>
        </a>
        <a *ngIf="showSettings()" mat-list-item [routerLink]="link('settings')" [routerLinkActive]="'active'">
          <mat-icon>settings</mat-icon> <span class="nav-caption" i18n>Settings</span>
        </a>
        <a mat-list-item [routerLink]="link('comments')" [routerLinkActive]="'active'">
          <mat-icon [matBadge]="(commentsCount | async).toString()" matBadgePosition="above before" i18n>comment</mat-icon> <span class="nav-caption" i18n>Comments</span>
        </a>
        <a *ngIf="showAuth()" mat-list-item [routerLink]="link('security')" [routerLinkActive]="'active'">
          <mat-icon>security</mat-icon> <span class="nav-caption" i18n>Permissions</span>
        </a>
        <a *ngIf="showTrain()" mat-list-item [routerLink]="link('train_staff_line_detector')" [routerLinkActive]="'active'">
          <mat-icon>developer_board</mat-icon> <span class="nav-caption" i18n>Train staff line detector</span>
        </a>
        <a *ngIf="showTrain()" mat-list-item [routerLink]="link('train_symbol_detector')" [routerLinkActive]="'active'">
          <mat-icon>developer_board</mat-icon> <span class="nav-caption" i18n>Train symbol detector</span>
        </a>
      </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
      <div *ngIf="loaded">
        <app-books-preview *ngIf="(view | async) === 'content'"
                           [pages]="pages | async"
                           [bookCom]="book"
                           [bookMeta]="bookMeta | async"
                           [totalPages]="totalPages"
                           [pageIndex]="pageIndex"
                           (reload)="reload()"
                           (pagesDeleted)="pagesDeleted($event)"
                           (pagesChanged)="pagesChanged($event)"
                           (switchPagination)="switchPagination($event)"
        ></app-books-preview>
        <app-book-comments-view *ngIf="(view | async) === 'comments'"></app-book-comments-view>
        <app-book-security-view *ngIf="(view | async) === 'security'"></app-book-security-view>
        <app-book-train-view *ngIf="(view | async) === 'train_symbol_detector'"
                             [book]="book | async"
                             [operation]="'train_symbols'"
        ></app-book-train-view>
        <app-book-train-view *ngIf="(view | async) === 'train_staff_line_detector'"
                             [book]="book | async"
                             [operation]="'train_staff_line_detector'"
        ></app-book-train-view>
        <app-book-settings-view *ngIf="(view | async) === 'settings'"
                                [bookMeta]="bookMeta"
                                [bookCom]="book | async"
                                (bookMetaUpdated)="bookMetaUpdated($event)"
        ></app-book-settings-view>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
