<app-workflow-configurator
  [config]="config"
  [book]="book"
  [bookMeta]="bookMeta"
  [disabled]="runner.running"
  (configChange)="onConfigChange()"
></app-workflow-configurator>

<app-book-step-page-selector
  [operation]="pageSelectionAlgorithm"
  [selection]="selection"
  [bookCom]="book"
></app-book-step-page-selector>

<app-workflow-run-control
  [runner]="runner"
  [validation]="validation"
  [permissions]="bookMeta.permissions"
  (runWorkflow)="run()"
  (cancelWorkflow)="runner.cancel()"
></app-workflow-run-control>
