<div
  *ngIf="sentence"
  id="text-editor-overlay"
  [style.left]="left + 'px'"
  [style.top]="top + 'px'"
  [style.width]="width + 'px'"
>
  <div
    *ngIf="blockType === Mode.Lyrics"
    class="full-width"
    >
    <input #input name="text" type="text" [(ngModel)]="currentText"
           (wheel)="$event.preventDefault()"
    >
  </div>
  <div
    *ngIf="blockType !== Mode.Lyrics">
    <input #input name="text" type="text" [(ngModel)]="currentText"
           (wheel)="$event.preventDefault()"
    >
  </div>
</div>
