<div
  *ngIf="line && sentence"
  id="text-editor-overlay"
  [style.left]="left + 'px'"
  [style.top]="top + 'px'"
  [style.min-width]="width + 'px'"
>
  <div
    *ngIf="blockType === Mode.Lyrics"
    class="full-width"
    >
    <div class="container">

      <input class="text-input" autocomplete="off" #input name="text" type="text" [(ngModel)]="currentText"
             (wheel)="$event.preventDefault()"
      >
      <app-highlighted-word  class="highlights" [text]="currentText" [markedWords]="highlightTexts" [textarea]="input">

      </app-highlighted-word>
      <!-- cloned text with <mark> tags here -->
    </div>
  </div>
  <div
    *ngIf="blockType !== Mode.Lyrics">
    <div class="container">

      <input class="text-input" autocomplete="off" #input name="text" type="text" [(ngModel)]="currentText"
             (wheel)="$event.preventDefault()"
      >
      <app-highlighted-word  class="highlights" [text]="currentText" [markedWords]="highlightTexts">

      </app-highlighted-word>
      <!-- cloned text with <mark> tags here -->
    </div>
  </div>
  <app-virtual-keyboard (buttonClicked)="insertAtCaret($event)" [url]="virtualKeyboardUrl" [storePermitted]="virtualKeyboardStoringPermitted"></app-virtual-keyboard>
</div>
