<mat-card appearance="outlined">
  <mat-card-header>
    <mat-icon mat-card-avatar>linear_scale</mat-icon>
    <mat-card-title>Progress</mat-card-title>
  </mat-card-header>
  <p>
    {{ ""}}
  </p>
  <div>
    @if (pointer==0) {
      <div>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>
    }
    @if (pointer>=0 && pointer <= tasks.length ) {
      <div>
        <p i18n> Progress {{pointer}}/{{tasks.length}}</p>
        <mat-progress-bar [value]="overallProgress * 100"></mat-progress-bar>
      </div>
    }
  </div>
  <app-book-step-task-progress [task]="task"
  ></app-book-step-task-progress>
  <mat-card-actions>
    @if (!(task.taskStatusRunning || task.taskStatusQueued || !(pointer === undefined))) {
      <button [disabled]="!algorithmRunAllowed" mat-raised-button color="primary" (click)="run()"><mat-icon>directions_run</mat-icon>Run</button>
    }
    @if (task.taskStatusRunning || task.taskStatusQueued) {
      <button [disabled]="!algorithmRunAllowed" mat-raised-button color="warn" (click)="cancel()"><mat-icon>cancel</mat-icon>Cancel</button>
    }
  </mat-card-actions>
</mat-card>
