text {
  fill: whitesmoke;
  vector-effect: non-scaling-stroke;
  stroke: black;
  stroke-width: 4;
  stroke-opacity: 0.8;
  paint-order: stroke;
  text-anchor: middle;
  dominant-baseline: auto;
}

text.selected {
  fill: lightskyblue;
}

text.selected:hover {
  fill: lightblue;
}

text:hover {
  fill:lightblue;
}

