<svg:g *ngFor="let connection of annotations.connections">
  <g *ngFor="let syllable of connection.syllableConnectors">
    <text
      [attr.x]="syllable.neume.coord.x"
      [attr.y]="syllable.textLine.AABB.vcenter()"
      [attr.font-size]="syllable.textLine.AABB.size.h / 2"
      [class.selected]="syllable === editorTool.selectedSyllableConnection"
      (mousedown)="onSyllableMouseDown($event, syllable)"
      (mouseup)="onSyllableMouseUp($event, connection, syllable)"
    >{{ syllable.syllable.visibleText }}</text>
  </g>
</svg:g>
