<h3>Statistics Debug</h3>
<div *ngIf="editor.pcgts">
<h4>Page</h4>
<table class="table">
  <thead>
  <tr><th>Type</th><th>Count</th></tr>
  </thead>
  <tbody>
  <tr><td>Music Regions</td><td>{{ nMusicRegions }}</td></tr>
  <tr><td>Music Lines</td><td>{{ nMusicLines }}</td></tr>
  <tr><td>Single Staff Lines</td><td>{{ nStaffLines }}</td></tr>
  <tr><td>Lyrics Regions</td><td>{{ nTextRegion(TextRegionType.Lyrics)}} </td></tr>
  <tr><td>Text Regions </td><td>{{ nTextRegion(TextRegionType.Paragraph)}} </td></tr>
  <tr><td>Drop Capital Regions </td><td>{{ nTextRegion(TextRegionType.DropCapital)}} </td></tr>
  <tr><td>Note</td><td>{{ nSymbolType(SymbolType.Note) }}</td></tr>
  <tr><td>Clef</td><td>{{ nSymbolType(SymbolType.Clef) }}</td></tr>
  <tr><td>Accid</td><td>{{ nSymbolType(SymbolType.Accid) }}</td></tr>
  <tr><td>Symbols</td><td>{{ nSymbols() }}</td></tr>
  </tbody>
</table>
</div>
<h4>Actions</h4>
<table class="table">
  <thead>
  <tr>
    <th>Action</th><th>Count</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let a of this.counts">
    <td>{{ a.l }}</td><td>{{ a.c }}</td>
  </tr>
  </tbody>
</table>
<h4>Tool timing</h4>
<table class="table">
  <thead>
  <tr>
    <th>Tool</th><th>Time</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let a of this.toolTiming">
    <td>{{ a.l }}</td><td>{{ a.t }}</td>
  </tr>
  </tbody>
  <tfoot>
    <tr>
      <td>Total</td><td>{{ this.totalTiming }}</td>
    </tr>
  </tfoot>
</table>
