#app {
  height: 100%;
  width: 100%;
}

#main-container {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 60px);
}

#page-viewer {
  flex: 0 0 200px;
  width: 200px;
  height: inherit;
}

#content {
  flex: 1 1 auto;
  height: inherit;
}

#sheet-overlay {
  height: inherit;
  width: inherit;
}

#property-widgets {
  flex: 0 0 200px;
  width: 200px;
}
