#app {
  height: 100vh;
  width: 100vw;
  position: relative;
}

#sheet-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
}

#tool-bar {
  display: block;
  width: 100%;
  height: 66px;
  position: absolute;
  z-index: 10;
}

#page-viewer {
  position: absolute;
  top: 66px;
  z-index: 8;
  width: 200px;
  height: calc(100% - 66px);
}

#property-widgets {
  position: absolute;
  right: 0;
  top: 66px;
  bottom: 0;
  left: calc(100% - 250px);
  z-index: 8;
  background-color: #111111;
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 60px);
  min-height: 0;
  overflow: auto;
}
.property-widget {
  background-color: antiquewhite;
  border-radius: 5px;
  border: 0 solid antiquewhite;
  padding: 5px;
  margin: 5px;
  flex: 0 0 auto;
}
.property-widget-fill {
  opacity: 0;
  flex: 1 1 0;
}

#out-of-page {
  position: relative;
  z-index: 7;
}

.disable-input {
  pointer-events: none;
}

::ng-deep .music.background {
  background-color: forestgreen;
}

::ng-deep .paragraph.background {
  background-color: darkorange;
}

::ng-deep .drop-capital.background {
  background-color: purple;
}

::ng-deep .lyrics.background {
  background-color: darkred;
}

::ng-deep .folio-number.background {
  background-color: lightskyblue;
}

.view_switch {
  flex: 0 0 auto;
  margin-top: auto;
//align-self: flex-start;

}

.switch_button  {
  margin: 2px;
  width: 100%;
}
