<div id="app">
  <app-sheet-overlay
    [pcgts]="editorService.pageStateVal.pcgts"
    id="sheet-overlay"
    *ngIf="!editorService.pageLoading">
  </app-sheet-overlay>
  <div class="load-overlay svg-overlay" *ngIf="editorService.isLoading">
    <app-loader-icon class="load-icon"></app-loader-icon>
  </div>
  <app-tool-bar id="tool-bar"
                [class.disable-input]="editorCapturedMouse()"
                [savingPossible]="autoSaver.canSave" [autoSaveRunning]="autoSaver.isAutoSaving"
                [editMode]="editPage" [bookMeta]="editorService.bookMeta"
                [editOnlyMode]="editOnly"
                [pageState]="editorService.pageStateVal"
  ></app-tool-bar>
  <app-pages-preview id="page-viewer"
                     [class.disable-input]="editorCapturedMouse()"
                     [bookCom]="editorService.bookCom" [currentPage]="editorService.pageCom" [currentPageProgress]="editorService.pageEditingProgress"></app-pages-preview>
  <div id="property-widgets"
       [class.disable-input]="editorCapturedMouse()"
  >
    <ng-container *ngIf="sheetOverlayComponent">
      <div class="property-widget" *ngIf="toolbarStateService.currentEditorTool === ET.CreateStaffLines && sheetOverlayComponent.lineEditor">
        <app-staff-line-property-widget
          [staffLine]="sheetOverlayComponent.lineEditor.currentStaffLine"
        ></app-staff-line-property-widget>
      </div>
      <div class="property-widget" *ngIf="toolbarStateService.currentEditorTool === ET.Symbol && sheetOverlayComponent.symbolEditor">
        <app-note-property-widget
          [selectedSymbol]="sheetOverlayComponent.symbolEditor.selectedSymbol"
          [symbolEditor]="sheetOverlayComponent.symbolEditor"
          (deleteNote)="sheetOverlayComponent.symbolEditor.states.handle('delete')"
          (addNote)="sheetOverlayComponent.symbolEditor.states.handle('acceptAdditionalNote')"
        ></app-note-property-widget>
      </div>
      <div *ngIf="toolbarStateService.currentEditorTool === ET.LayoutExtractConnectedComponents
        || toolbarStateService.currentEditorTool === ET.Layout
        || toolbarStateService.currentEditorTool === ET.LayoutLassoArea" class="property-widget">
        <app-layout-property-widget
          [pageLine]="sheetOverlayComponent.currentEditorTool.selectedLine"
        ></app-layout-property-widget>
      </div>
      <div *ngIf="toolbarStateService.currentEditorTool === ET.Syllables"
           class="property-widget"
      >
        <app-syllable-property-widget
          [page]="editorService.pcgts.page"
          [syllable]="sheetOverlayComponent.syllableEditor.selectedSyllable"
          [selectedSyllableConnection]="sheetOverlayComponent.currentEditorTool.selectedSyllableConnection"
          (syllableChanged)="viewChanges.request([sheetOverlayComponent.syllableEditor.selectedSyllableConnection.connection.textRegion])"
          (syllableClicked)="sheetOverlayComponent.syllableEditor.onSyllablePropertyWidgetClick($event)"
        ></app-syllable-property-widget>
      </div>
      <div *ngIf="sheetOverlayComponent && sheetOverlayComponent.currentEditorTool"
           class="property-widget">
        <app-view-property-widget
          [(viewSettings)]="sheetOverlayComponent.currentEditorTool.viewSettings"
          (resetToDefault)="sheetOverlayComponent.currentEditorTool.resetToDefaultViewSettings()"
        ></app-view-property-widget>
      </div>
      <div *ngIf="sheetOverlayComponent && sheetOverlayComponent.currentEditorTool && toolbarStateService.currentEditorTool === ET.Lyrics"
           class="property-widget">
        <app-reading-order-property-widget
          [readingOrder]="editorService.pcgts.page.readingOrder.readingOrder"
          [page]="editorService.pcgts.page"
          (selectedLineChanged)="sheetOverlayComponent.sheetOverlayService.readingOrderHoveredPageLine = $event"
        ></app-reading-order-property-widget>
      </div>
      <div *ngIf="sheetOverlayComponent && sheetOverlayComponent.currentEditorTool && sheetOverlayComponent.currentEditorTool.selectedCommentHolder"
           class="property-widget">
        <app-comment-property-widget
          [comments]="editorService.pcgts.page.userComments"
          [commentHolder]="sheetOverlayComponent.currentEditorTool.selectedCommentHolder"
        ></app-comment-property-widget>
      </div>

      <div class="property-widget" *ngIf="toolbarStateService.currentEditorTool === ET.Symbol && sheetOverlayComponent.symbolEditor && userIsAdmin">
        <app-symbol-confidence-widget
          [selectedSymbol]="sheetOverlayComponent.symbolEditor.selectedSymbol">
        </app-symbol-confidence-widget>
      </div>
      <div *ngIf="userIsAdmin" class="property-widget">
        <app-developer-property-widget></app-developer-property-widget>
      </div>
      <div class="property-widget view_switch">

        <button	class="mat-raised-button switch_button" (click)="routeToEditor()" i18n>Switch to Viewer</button	>
      </div>
    </ng-container>
  </div>
</div>
