.selectable {
  cursor: pointer;
}

.polyline-editor {
  vector-effect: non-scaling-stroke;
  stroke-width: 1;
  stroke: lightblue;
  fill: magenta;
  fill-opacity: 0;
}
.polyline-editor.selected {
  stroke-width: 2;
  fill: lightblue;
  fill-opacity: 0.3;
}
.polyline-editor:hover {
  fill: lightblue;
  fill-opacity: 0.3;
}
