<div *ngIf="note">
  <mat-form-field>
    <mat-label i18n="@@note_type">Note type</mat-label>
    <mat-select [(ngModel)]="noteType">
      <mat-option [value]="NoteType.Normal" i18n="@@Normal">Normal</mat-option>
      <mat-option [value]="NoteType.Oriscus" i18n="@@Oriscus">Oriscus</mat-option>
      <mat-option [value]="NoteType.Apostropha" i18n="@@Apostropha">Apostropha</mat-option>
      <mat-option [value]="NoteType.LiquescentFollowingU" i18n="@@Liquescent_up">Liquescent Up</mat-option>
      <mat-option [value]="NoteType.LiquescentFollowingD" i18n="@@Liquescent_down">Liquescent Down</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-slide-toggle [(ngModel)]="neumeStart" i18n="@@Start_of_neume">Start of neume</mat-slide-toggle>
  <mat-slide-toggle [(ngModel)]="connection" [disabled]="neumeStart" i18n="@@Connected">Connected</mat-slide-toggle>
  <mat-slide-toggle [(ngModel)]="fixedSorting" i18n="@@Fix_sorting">Fix sorting</mat-slide-toggle>
  <mat-divider></mat-divider>
  <button mat-flat-button color="warn" (click)="onDelete()" i18n="@@Delete">Delete</button>
</div>
