.grid-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}
.grid-item {

}

.image-container {
}
.image-container img {
  width: 100%;
}
.image-wrapper {
  position: relative;
  text-align: center;
  height: 100%;
  min-height: 100px;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

