<div class="main-layout">
  <header [class.collapsed]="!displayHeader">
    <nav>
    <mat-toolbar>
      <span class="logo">OMMR 4 all</span>
      <a mat-button routerLink="/" i18n>Home</a>
      <a mat-button routerLink="/book" i18n>Books</a>
      <a mat-button routerLink="/" i18n>Help</a>
      <a mat-button *ngIf="auth.isLoggedIn()" routerLink="/logout" i18n>Logout</a>
      <a mat-button *ngIf="auth.isLoggedOut()" routerLink="/login" i18n>Login</a>
    </mat-toolbar>
    </nav>
  </header>
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
  <footer [class.collapsed]="!displayHeader">
    <mat-toolbar>
      <mat-toolbar-row>
        <div class="fill"></div>
        <a routerLink="/imprint" i18n>Imprint</a>
        <div class="fill"></div>
      </mat-toolbar-row>
    </mat-toolbar>
  </footer>
</div>
<app-server-state></app-server-state>
