<div class="main-layout">
  <header [class.collapsed]="!displayHeader">
    <nav>
    <mat-toolbar>
      <span class="logo">OMMR 4 all</span>
      <a mat-button routerLink="/">Home</a>
      <a mat-button routerLink="/book">Books</a>
      <a mat-button routerLink="/">Help</a>
      <a mat-button *ngIf="auth.isLoggedIn()" routerLink="/logout">Logout</a>
      <a mat-button *ngIf="auth.isLoggedOut()" routerLink="/login">Login</a>
    </mat-toolbar>
    </nav>
  </header>
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
  <footer [class.collapsed]="!displayHeader">
    <mat-toolbar>
      <mat-toolbar-row>
        <div class="fill"></div>
        <a routerLink="/imprint">Imprint</a>
        <div class="fill"></div>
      </mat-toolbar-row>
    </mat-toolbar>
  </footer>
</div>
<app-server-state></app-server-state>
