.main-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  position: relative;
  z-index: 10;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.5);
}

header.collapsed {
  display: none
}

header.collapsed > nav {
  display: none;
}

.logo {
}

.main-menu {
  flex: 1 1 auto;
  display: inline-block;
  height: 100%;
  font-size: 140%;
}

.nav {
  list-style: none;
}
.nav > li {
  position: relative;
  float: left;
  display: block;
  width: 7em;
  line-height: 5rem;
  vertical-align: middle;
  text-align: center;
}

.nav > li > a {
  font-variant: small-caps;
  color: antiquewhite;
  text-decoration: none;
  height: 5rem;
}
.nav > li:hover > a,
.nav > li:hover > .caret {
  color: gray;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  color: antiquewhite;
}

.dropdown-menu.open {
  display: block;
}
.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  min-width: 7em;
  max-width: 20em;
}

.dropdown-menu > li > a {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: left;
}


.main-content {
  flex: 1 1 auto;
}

footer {
  position: relative;
  z-index: 10;
  flex: 0 0 2rem;
  background-color: #111;
}

