<h1 mat-dialog-title i18n>Layout analysis</h1>
<div mat-dialog-content>
  <app-error-message [error]="task.errorMessage" (closed)="task.resetError()" [closable]="false"></app-error-message>

  <p>
    {{ task.progressLabel }}
  </p>
  <div *ngIf="!task.isWorking">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  <div *ngIf="task.isWorking">
    <mat-progress-bar [value]="task.status.progress * 100"></mat-progress-bar>
  </div>

</div>
<div mat-dialog-actions align="end">
  <button mat-raised-button color="warn" (click)="cancel()" i18n="@@Cancel">Cancel</button>
</div>
