<svg:g>
  @if (line.coords && editorTool.viewSettings.showLayout) {
    <polygon
      [attr.points]="line.coords.toSVG()"
      [class.highlighted]="highlighted"
      [ngClass]="(line.getDocumentStart==true)?'shading region documentstart' + BlockTypeUtil.css[block.type]:'shading region ' + BlockTypeUtil.css[block.type]"
      [class.selectable]="isLineSelectable(line)"
      (mousedown)="onLineMouseDown($event, line)"
      (mouseup)="onLineMouseUp($event, line)"
      (mousemove)="onLineMouseMove($event, line)"
      (contextmenu)="onLineContextMenu($event, line)"
      >
    </polygon>
  }
  @if (editorTool.viewSettings.showDocumentStartView) {
    <g>
      @if (line.getDocumentStart) {
        <g app-document-start-view
          [line]="line"
          [editorTool]="editorTool">
        </g>
      }
    </g>
  }
  @if (block.type === BlockType.Music) {
    <g>
      <rect
        [class.shading-hidden]="!editorTool.viewSettings.showStaffGroupShading"
        class="shading"
        [attr.x]="line.AABB.origin.x"
        [attr.y]="line.AABB.origin.y"
        [attr.width]="line.AABB.size.w"
        [attr.height]="line.AABB.size.h"
        [attr.fill]="'#' + shading(musicLineIndex)"
      ></rect>
      <!--[class.shading-opaque]="musicRegion === sheetOverlayService.closestRegionToMouse && toolBarStateService.currentEditorTool === EditorTools.CreateStaffLines"-->
      @if (editorTool.viewSettings.showStaffLines) {
        <g app-staff-lines-view
          [staffLines]="line.staffLines"
          [editorTool]="editorTool"
          >
        </g>
      }
      @if (editorTool.viewSettings.showSymbols) {
        <g app-symbols-view
          [staff]="line"
          [editorTool]="editorTool"
          [showSymbolConfidence]="editorTool.viewSettings.showSymbolConfidence"
          [showAlternateSymbolsView]="editorTool.viewSettings.showAlternateSymbolsView"
        ></g>
      }
    </g>
  }
  </svg:g>
