<app-api-error-card [apiError]="apiError" (dismiss)="apiError = null"></app-api-error-card>
<mat-card appearance="outlined">
  <mat-card-header>
    <mat-icon mat-card-avatar>style</mat-icon>
    <mat-card-title i18n>Create notation style</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="flex-col mdc-form-fix">
      <mat-form-field>
        <mat-label i18n>Enter notation style label</mat-label>
        <input matInput type="text" [formControl]="nameFormControl">
        @if (nameFormControl.hasError('required')) {
          <mat-error>
            A label is <strong>required</strong>
          </mat-error>
        }
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="create()"><mat-icon>add</mat-icon><span i18n>Add</span></button>
  </mat-card-actions>
</mat-card>
