<svg:g #lyricsRoot>
  <g *ngIf="staff">
    <!-- <rect
      class="lyrics-background"
      [attr.width]="staff.lyricsContainer.aabb.size.w"
      [attr.height]="staff.lyricsContainer.aabb.size.h / 2 * 1.2"
      [attr.y]="staff.lyricsContainer.aabb.origin.y + staff.lyricsContainer.aabb.size.h"
      [attr.x]="staff.lyricsContainer.aabb.origin.x"
    <g>
      <g *ngFor="let syllable of staff.lyricsContainer.syllables">
        <foreignObject
          [attr.x]="syllable.start"
          [attr.y]="staff.lyricsContainer.aabb.origin.y + staff.lyricsContainer.aabb.size.h"
          [attr.width]="syllable.end - syllable.start"
          [attr.height]="staff.lyricsContainer.aabb.size.h"
          [style.font-size]="staff.lyricsContainer.aabb.size.h / 2"
        >
          <xhtml:div xmlns="http://www.w3.org/1999/xhtml"
                     class="overlay"
                     (focusin)="focusSyllable(syllable)"
                     (mousedown)="onSyllableMouseDown($event)"
                     (click)="onFocusSyllable($event, syllable)"
          />
        </foreignObject>
        <switch>
          <foreignObject
            [attr.x]="syllable.center"
            [attr.y]="staff.lyricsContainer.aabb.origin.y + staff.lyricsContainer.aabb.size.h"
            [style.font-size]="staff.lyricsContainer.aabb.size.h / 2"
            style="height: 1.2em; width: 50em"
          >
            <xhtml:div xmlns="http://www.w3.org/1999/xhtml" style="width: 100%; height: 100%; font-size: 100%;">
              <xhtml:input
                autoinputresize
                class="lyrics"
                (keydown)="onKeyDown($event, syllable)"
                (change)="onInputChanged($event, syllable)"
                (mousedown)="onSyllableMouseDown($event)"
                (click)="onFocusSyllable($event, syllable)"
                [(ngModel)]="syllable.text"
                [class.hidden]="syllable.text.length === 0 && syllable != currentSyllable"
                [class.bring-to-front]="syllable === currentSyllable"
              />
              <span *ngIf="syllable.connection === SyllableConnectionType.Visible && syllable != currentSyllable && syllable.text.length > 0">-</span>
            </xhtml:div>
          </foreignObject>
        </switch>
      </g>
    </g>
    /> -->
  </g>
  <svg:g app-rect-editor />
</svg:g>
