text.lyrics {
  fill: white;
  stroke: black;
  stroke-width: 1;
  text-align: left;
  text-anchor: start;
}

input.lyrics {
  background: none;
  height: 100%;
  width: 100%;
  font-size: 100%;
  text-align: center;
  padding: 0;
  margin-left: -0.4em;
  overflow: visible;
  white-space: nowrap;
  box-sizing: content-box;
  resize: none;
  min-width: 1em;
  border: none
}

.overlay {
  height: 100%;
  width: 100%;
}
.overlay:hover {
}

input.lyrics.bring-to-front {
  position: absolute;
  z-index: 100;
  /*margin-left: -1.4em;
  border: 1em solid white;
  border-top: 0;
  border-bottom: 0;*/
}
.hidden {
  opacity: 0;
}

.lyrics-background {
  fill: white;
}
