<h1  mat-dialog-title i18n>Add new book</h1>
<div mat-dialog-content>
  <app-api-error-card [apiError]="apiError" (dismiss)="apiError = null"></app-api-error-card>
  <form class="flex-col" [formGroup]="form">
    <mat-form-field>
      <mat-label i18n>Enter new book name</mat-label>
      <input matInput type="text" formControlName="name">
      @if (form.get('name').hasError('required')) {
        <mat-error>
          Book name is <strong>required</strong>
        </mat-error>
      }
      @if (form.get('name').hasError('minlength') && !form.get('name').hasError('required')) {
        <mat-error>
          Book name must contain at least <strong>four</strong> characters.
        </mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <mat-label i18n>Style</mat-label>
      <mat-select formControlName="notationStyle">
        @for (s of globalSettings.bookStyles; track s) {
          <mat-option [value]="s.id">{{ s.name }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" min="1" max="10" formControlName="numberOfStaffLines">
      <mat-hint i18n>Number of staff lines</mat-hint>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-raised-button color="primary" (click)="add()" i18n="@@Add" [disabled]="!form.valid"><mat-icon>add</mat-icon> Add</button>
  <button mat-raised-button (click)="close(false)"><mat-icon>cancel</mat-icon> <span i18n="@@Cancel">Cancel</span></button>
</div>
