<div class="center-content-container">
  <h1>Login</h1>
  <app-error-message [closable]="false" [error]="error"></app-error-message>
  <form [formGroup]="form">
    <div class="form-group">
      <label>Username:</label>
      <input class="form-control" name="username" formControlName="username" placeholder="Username">
    </div>
    <div class="form-group">
      <label>Password:</label>
      <input class="form-control" name="password" formControlName="password" placeholder="Username"
             type="password">
    </div>
    <div class="form-buttons">
      <button class="btn btn-primary"
              (click)="login()">Login</button>
    </div>
  </form>
</div>
