<h1 mat-dialog-title>{{ algorithmName }}</h1>
<div mat-dialog-content>
  <app-algorithm-predictor-settings *ngIf="!task"
    [algorithmGroup]="data.algorithmGroup"
    [book]="data.pageState.bookCom"
    [bookMeta]="data.pageState.bookMeta"
  ></app-algorithm-predictor-settings>
  <div *ngIf="task">
    <app-api-error-card [apiError]="task.apiError" (dismiss)="task.dismissError()"></app-api-error-card>
    <div *ngIf="!task.isWorking">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
    <div *ngIf="task.isWorking">
      <mat-progress-bar [value]="task.status.progress * 100"></mat-progress-bar>
    </div>
  </div>
</div>
<div mat-dialog-actions align="end">
  <button *ngIf="!task" mat-raised-button color="primary" (click)="run()" i18n="@@Run"><mat-icon>directions_run</mat-icon> Run</button>
  <button *ngIf="!task" mat-raised-button (click)="close(false)" i18n="@@Close"><mat-icon>close</mat-icon> Close</button>
  <button *ngIf="task" mat-raised-button color="warn" (click)="cancel()" i18n="@@Cancel"><mat-icon>cancel</mat-icon> Cancel</button>
</div>
