<mat-card>
  <mat-card-header>
    <mat-icon mat-card-avatar>linear_scale</mat-icon>
    <mat-card-title>Progress</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{ task.progressLabel }}
    </p>
    <div>
      <div *ngIf="task.taskStatusQueued">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>
      <div *ngIf="task.taskStatusRunning">
        <p i18n> Progress {{task.status.n_processed}}/{{task.status.n_total}}</p>
        <mat-progress-bar [value]="task.status.progress * 100"></mat-progress-bar>
      </div>
      <div *ngIf="task.taskStatusFinished">
        Finished.
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button *ngIf="!(task.taskStatusRunning || task.taskStatusQueued)" [disabled]="!algorithmRunAllowed" mat-raised-button color="primary" (click)="run()"><mat-icon>directions_run</mat-icon>Run</button>
    <button *ngIf="task.taskStatusRunning || task.taskStatusQueued" [disabled]="!algorithmRunAllowed" mat-raised-button color="warn" (click)="cancel()"><mat-icon>cancel</mat-icon>Cancel</button>
  </mat-card-actions>
</mat-card>
