<mat-toolbar class="icon-bar">
  <button mat-icon-button class="large" (click)="onUpload(!showUpload)"><mat-icon class="icon-unarchive toggle" [class.toggled]="showUpload"></mat-icon></button>
  <button mat-icon-button class="large" (click)="onCleanAll()"><mat-icon class="icon-delete-forever"></mat-icon></button>
  <div class="separator"></div>
  <mat-form-field>
    <mat-select [(value)]="selectedColor" (change)="setUnloaded()" class="form-control">
      <mat-option value="color">Color</mat-option>
      <mat-option value="gray">Gray</mat-option>
      <mat-option value="binary">Binary</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select [(value)]="selectedProcessing" (change)="setUnloaded()" class="form-control">
      <mat-option value="original">Original</mat-option>
      <mat-option value="deskewed">Deskewed</mat-option>
      <!-- <option value="cropped">Cropped</option>
      <option value="detected_staffs">Detected Staffs</option> -->
    </mat-select>
  </mat-form-field>
  <div class="separator"></div>
  <mat-form-field>
    <mat-select [(value)]="selectDownloadContent" class="form-control">
      <mat-option value="annotations.zip">Annotations</mat-option>
      <mat-option value="monodi2.zip">Monodi 2</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-icon-button class="large" (click)="onDownload()"><mat-icon class="icon-archive"></mat-icon></button>
</mat-toolbar>

<div *ngIf="showUpload">
  <app-page-uploader [book]="book" (uploadSuccess)="reload.emit()"></app-page-uploader>
</div>

<div #previewList class="preview-list">
  <div *ngFor="let page of pages"
       class="list-item"
       [class.selected]="page === currentPage"
       (click)="selectPage($event, page)">
    <app-page-preview
      [page]="page"
      [color]="selectedColor"
      [processing]="selectedProcessing">
    </app-page-preview>
  </div>
</div>
