<mat-toolbar class="light h5">
  <ng-container *ngIf="selectedPages.size > 0" class="light h5">
    <span i18n="@@Selection">Selection</span>
    <mat-menu #selectionMenu="matMenu">
      <button mat-menu-item (click)="onSelectAll()" i18n><mat-icon>select_all</mat-icon>Select all</button>
      <button mat-menu-item (click)="onClearSelection()" i18n><mat-icon>border_clear</mat-icon>Clear selection</button>
      <button mat-menu-item *ngIf="showRenamePage()" (click)="onAutoRenamePages(selectedPages)" i18n><mat-icon class="icon-edit-text"></mat-icon>Rename selected pages</button>
      <button mat-menu-item (click)="onDownload(selectedPages)" i18n><mat-icon>cloud_download</mat-icon>Export</button>
      <button mat-menu-item *ngIf="showDeletePage()" (click)="onSelectionResetAnnotations()" i18n><mat-icon color="warn">restore_page</mat-icon>Reset annotations</button>
      <button mat-menu-item *ngIf="showDeletePage()" (click)="onSelectionRemovePages()"><mat-icon color="warn">delete_forever</mat-icon><span i18n="@@Delete">Delete</span></button>
    </mat-menu>
    <button mat-icon-button [matMenuTriggerFor]="selectionMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </ng-container>
  <div class="spacer"></div>
  <!--<mat-form-field>
    <mat-select [(value)]="selectedColor" (change)="setUnloaded()" class="form-control">
      <mat-option value="color" i18n="@@color">Color</mat-option>
      <mat-option value="gray" i18n="@@gray">Gray </mat-option>
      <mat-option value="binary" i18n="@@binary">Binary</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-divider [vertical]="true"></mat-divider>
  <mat-form-field>
    <mat-select [(value)]="selectedProcessing" (change)="setUnloaded()" class="form-control">
      <mat-option value="original" i18n="@@original">Original</mat-option>
      <mat-option value="norm" i18n="@@Normalised">Normalised</mat-option>
    </mat-select>
  <mat-divider [vertical]="true"></mat-divider>
  </mat-form-field>-->
  <mat-paginator
    [length]="totalPages"
    [pageIndex]="pageIndex"
    [pageSize]="20"
    [pageSizeOptions]="[5, 10, 20, 50]"
    (page)="paginatorChanged($event)"
  ></mat-paginator>
  <mat-divider [vertical]="true"></mat-divider>
  <button mat-icon-button class="large" (click)="onAutoRenamePages(null)"><mat-icon class="icon-edit-text"></mat-icon></button>
  <button *ngIf="showUploadPage()" mat-icon-button class="large" (click)="onUpload(!showUpload)"><mat-icon class="toggle" [class.toggled]="showUpload">cloud_upload</mat-icon></button>
  <button mat-icon-button class="large" (click)="onDownloadAll()"><mat-icon>cloud_download</mat-icon></button>
</mat-toolbar>


<div *ngIf="showUpload">
  <app-page-uploader [book]="book" (uploadSuccess)="reload.emit()"></app-page-uploader>
</div>

<div #previewList class="preview-list">
  <div *ngFor="let page of pages"
       class="list-item"
       [class.selected]="selectedPages.has(page)"
       [class.focus]="page === currentPage"
       (click)="selectPage($event, page)"
       (dblclick)="editPage(page)"
       >
    <app-page-preview
      [page]="page"
      [color]="selectedColor"
      [processing]="selectedProcessing"
      [toolButtons]="true"
      [showDelete]="showDeletePage()"
      [showRename]="showRenamePage()"
      (edit)="editPage(page)"
      (remove)="removePage(page)"
      (rename)="renamePage(page)"
      (download)="onDownloadPage(page)"
    ></app-page-preview>
    <div class="selected-overlay" *ngIf="selectedPages.has(page)"></div>
  </div>
</div>
