<div class="icon-bar">
  <select [(ngModel)]="selectedColor" (change)="setUnloaded()">
    <option value="color">Color</option>
    <option value="gray">Gray</option>
    <option value="binary">Binary</option>
  </select>
  <select [(ngModel)]="selectedProcessing" (change)="setUnloaded()">
    <option value="original">Original</option>
    <option value="deskewed">Deskewed</option>
    <option value="cropped">Cropped</option>
    <option value="detected_staffs">Detected Staffs</option>
  </select>
  <div class="icon icon-unarchive" (click)="onUpload(true)"></div>
  <span>&nbsp;</span>
  <select [(ngModel)]="selectDownloadContent">
    <option value="annotations">Annotations</option>
  </select>
  <div class="icon icon-archive" (click)="onDownload()"></div>
  <div class="icon icon-delete-forever" (click)="onCleanAll()"></div>
</div>

<div *ngIf="showUpload">
  <button type="button" (click)="onUpload(false)">Close</button>
  <app-page-uploader [book]="book" (uploadSuccess)="reload.emit()"></app-page-uploader>
</div>

<div #previewList class="preview-list">
  <div *ngFor="let page of pages"
       class="list-item"
       [class.selected]="page === currentPage"
       (click)="selectPage($event, page)">
    <app-page-preview
      [page]="page"
      [color]="selectedColor"
      [processing]="selectedProcessing">
    </app-page-preview>
  </div>
</div>
