.preview-list {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  flex-direction: row;
}

.list-item {
  width: 200px;
  margin: 5px;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
}

.list-item:hover {
  margin: 3px;
  border: 2px solid lightblue;
}

.list-item.selected {
  margin: 3px;
  border: 2px solid blue;
}

.list-item img {
  width: 100%;
}

.image-container {
  flex: 1 0 auto;
  min-height: 300px;
}

.label {
  bottom: 0;
  left: 0;
  width: 100%;
  flex: 0 0 auto;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  direction: rtl;
}

.load-wrapper {
  position: relative;
}
.load-overlay {
  position: absolute;
  top: 0%;
  left: 0%;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
}
.load-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

