<h1 mat-dialog-title i18n cdkDrag
    cdkDragRootElement=".cdk-overlay-pane"
    cdkDragHandle>Lyrics paste tool</h1>
<div mat-dialog-content>
  <mat-horizontal-stepper #stepper [linear]="true" (selectionChange)="selectionChanged($event)">
    <mat-step>
      <ng-template matStepLabel i18n>Paste text</ng-template>
      <mat-form-field class="full-width">
        <textarea matInput placeholder="Paste here" rows="20" required [(ngModel)]="rawText"></textarea>
        <mat-hint i18n>Paste the text you want to insert</mat-hint>
      </mat-form-field>
    </mat-step>
    <mat-step>
      <ng-template matStepLabe i18n>Preformatted text</ng-template>
      <mat-form-field class="full-width">
        <textarea matInput placeholder="" rows="20" [(ngModel)]="preformattedText"></textarea>
        <mat-hint i18n>This text will be applied to the text lines, respectively</mat-hint>
      </mat-form-field>
    </mat-step>
  </mat-horizontal-stepper>
</div>
<div mat-dialog-actions align="end">
  <div fxLayout="row" fxLayoutGap="5px">
    <button mat-flat-button [disabled]="stepper.selectedIndex !== 1" color="primary" (click)="insert()" i18n="@@Insert">Insert</button>
    <button mat-flat-button [disabled]="stepper.selectedIndex !== 1" color="primary" (click)="insertAndAssign()" i18n="@@Insert">Insert and assign</button>
    <button mat-flat-button (click)="close()" i18n="@@Cancel">Cancel</button>
  </div>
</div>
