<mat-card-content>
  <p>
    {{ task.progressLabel }}
    @if (task.timingLabel) {
      <span class="task-timing">{{ task.timingLabel }}</span>
    }
  </p>
  <div>
    @if (task.taskStatusQueued) {
      <div>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>
    }
    @if (task.taskStatusRunning) {
      <div>
        <p i18n> Progress {{task.status.n_processed}}/{{task.status.n_total}}</p>
        <mat-progress-bar [value]="task.status.progress * 100"></mat-progress-bar>
      </div>
    }
    @if (task.taskStatusFinished) {
      @if (task.runDurationLabel) {
        <div i18n="@@taskFinishedIn">Finished in {{ task.runDurationLabel }}.</div>
      } @else {
        <div i18n="@@taskFinished">Finished.</div>
      }
    }
  </div>
</mat-card-content>
