<mat-card-content>
  <p>
    {{ task.progressLabel }}
  </p>
  <div>
    @if (task.taskStatusQueued) {
      <div>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>
    }
    @if (task.taskStatusRunning) {
      <div>
        <p i18n> Progress {{task.status.n_processed}}/{{task.status.n_total}}</p>
        <mat-progress-bar [value]="task.status.progress * 100"></mat-progress-bar>
      </div>
    }
    @if (task.taskStatusFinished) {
      <div>
        Finished.
      </div>
    }
  </div>
</mat-card-content>
