<svg:g>
  <g app-polyline-editor
     [polyLines]="allPolygons"
     [baseAction]="LAYOUT"
     (polyLineCreated)="onPolylineAdded($event)"
     (polyLineDeleted)="onPolylineRemoved($event)"
     (polyLineJoin)="onPolylineJoin($event)"
  ></g>
  <rect *ngIf="contextParentRegion"
        class="context-region"
        [attr.x]="contextParentRegion.AABB.origin.x"
        [attr.y]="contextParentRegion.AABB.origin.y"
        [attr.width]="contextParentRegion.AABB.size.w"
        [attr.height]="contextParentRegion.AABB.size.h"
  ></rect>
</svg:g>
