<h1 mat-dialog-title>Train symbol detecion</h1>
<div mat-dialog-content>
  <app-error-message [error]="task.errorMessage" (closed)="task.resetError()" [closable]="false"></app-error-message>

  <p>
    {{ task.progressLabel }}
  </p>
  <div *ngIf="!task.isWorking">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  <div *ngIf="task.isWorking">
    <p> Overall progress limit </p>
    <mat-progress-bar [value]="task.status.progress * 100"></mat-progress-bar>
    <p> Current Loss: {{ task.loss | number:'1.3-3' }} </p>
    <p> Early stopping progress </p>
    <mat-progress-bar [value]="task.status.early_stopping_progress * 100"></mat-progress-bar>
    <p> Current Accuracy: {{ task.accuracy | number: '1.1-1' }}% </p>
  </div>
</div>
<div mat-dialog-actions align="end">
  <button mat-raised-button (click)="close()">Run in background</button>
  <button mat-raised-button color="warn" (click)="cancel()">Cancel</button>
</div>
