<!-- <mat-slide-toggle [(ngModel)]="service.useDefaultRegion">Use region type</mat-slide-toggle> -->

<mat-form-field>
  <mat-select placeholder="Region type" [(value)]="service.regionType" [disabled]="!service.useDefaultRegion">
    <mat-option [value]="Type.Music" i18n="@@music">Music</mat-option>
    <mat-option [value]="Type.Lyrics" i18n="@@lyrics">Lyrics</mat-option>
    <mat-option [value]="Type.DropCapital" i18n="@@drop_capital">Drop Capital</mat-option>
    <mat-option [value]="Type.Paragraph" i18n="@@paragraph">Paragraph</mat-option>
    <mat-option [value]="Type.FolioNumber" i18n="@@folio">Folio</mat-option>
  </mat-select>
</mat-form-field>
<ng-container *ngIf="pageLine">
  <mat-checkbox [(ngModel)]="reconstructed"
                matTooltip="Mark if this line does not exit (e.g. missing) in the original manuscript and was reconstructed though other sources instead"
  >Reconstructed</mat-checkbox>
  <mat-checkbox [(ngModel)]="documentstart"
                matTooltip="Mark the line as a document start"
  >Documentstart</mat-checkbox>
</ng-container>
