.editor-area {
  height: inherit;
  width: inherit;
  background-color: lightgray;
}

svg {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.cursor-crosshair {
  cursor: crosshair;
}
.cursor-move {
  cursor: move;
}
.cursor-grab {
  cursor: grab;
}
.cursor-grabbing {
  cursor: grabbing;
}

.selectable:hover {
  cursor: pointer;
}

.staff-line {
  stroke-width: 2px;
  stroke: navy;
  fill: none;
  vector-effect: non-scaling-stroke;
}

.staff-line.overlay:hover {
  cursor: pointer;
}

.shading {
  stroke: none;
  opacity: 0.5;
}
.shading-hidden {
  opacity: 0;
}
.shading-opaque {
  opacity: 0.1;
}
.shading.selectable {
}
.shading.selectable:hover {
  opacity: 0.7;
}

.music-region {
  fill: forestgreen;
  stroke: forestgreen;
}

.paragraph-region {
  fill: yellow;
  stroke: yellow;
}

.drop-capital-region {
  fill: purple;
  stroke: purple;
}

.lyrics-region {
  fill: darkred;
  stroke: darkred;
}

.region {
  stroke-width: 2;
  stroke-dasharray: 10px;
}

.line {
  fill: black;
  opacity: 0.2;
}

.overlay {
  stroke-width: 10px;
  vector-effect: non-scaling-stroke;
  stroke: dodgerblue;

  stroke-opacity: 0.0;
}

.overlay:hover {
  stroke-opacity: 0.8;
}

.symbols-reading-order {
  pointer-events: none;
  vector-effect: non-scaling-stroke;
  stroke-width: 1px;
  fill: none;
  stroke: black;
  opacity: 0.5;
  stroke-dasharray: 1 1;
}

circle.staff-line {
  fill-opacity: 0.5;
  fill: teal;
  stroke: red;
}

rect.selection {
  fill: none;
  stroke: black;
  stroke-width: 1;
}

rect.aabb {
  fill: black;
  fill-opacity: 0;
  opacity: 0.05;
  vector-effect: non-scaling-stroke;
}

rect.aabb.region {
  opacity: 0.5;
}
rect.aabb.region.closest {
  opacity: 1;
}
rect.closest-staff {
  stroke: navy;
  opacity: 0.5;
}

rect.lyrics-container {
  stroke: lightcyan;
  stroke-width: 2;
  vector-effect: non-scaling-stroke;
  fill-opacity: 0;
}

.svg-overlay {
  position: relative;
  bottom: 0%;
  top: -100%;
}

text {
  fill: whitesmoke;
  vector-effect: non-scaling-stroke;
  stroke: black;
  stroke-width: 4;
  stroke-opacity: 0.8;
  paint-order: stroke;
  text-anchor: middle;
  dominant-baseline: middle;
}
text.selected {
  fill: greenyellow;
}

text.selected:hover {
  fill: greenyellow;
}

text:hover {
  fill:lightblue;
}

.neume-syllable-connection {
  stroke: black;
  stroke-width: 2;
  vector-effect: non-scaling-stroke;
  pointer-events: none;
  fill: none;
}

.logical-connection-visible {
  stroke-width: 2;
  stroke: #111111;
  stroke-dasharray: 4 2;
  pointer-events: None;
  vector-effect: non-scaling-stroke;
}

@keyframes dash {
  to {
    stroke-dashoffset: 6;
  }
}

.logical-connection-visible.selected {
  stroke: red;
  animation: dash 0.2s linear;
  animation-iteration-count: infinite;
}

.logical-connection-selectable {
  stroke-width: 6;
  stroke: lightblue;
  opacity: 0;
  vector-effect: non-scaling-stroke;
}

.logical-connection-selectable:hover {
  opacity: 0.5;
  cursor: not-allowed;
}

.logical-connection-selectable.valid-selection:hover {
  cursor: pointer;
}

.symbol.selectable {
  cursor: pointer;
}
