<div class="editor-area">
  <div style="width: 100%; height: 100%;">
    <svg #svgRoot id="svgRoot"
         style="display: inline; width: inherit; min-width: inherit; max-width: inherit; height: inherit; min-height: inherit; max-height: inherit; "
         version="1.1"
         xmlns="http://www.w3.org/2000/svg" xmlns:xlink= "http://www.w3.org/1999/xlink"
         (keydown)="onKeypress($event)"
         (mousemove)="onMouseMove($event)"
         (mousedown)="onMouseDown($event)"
         (mouseup)="onMouseUp($event)"
         (mouseleave)="onMouseLeave($event)"
         (mouseenter)="onMouseEnter($event)"
         (contextmenu)="onContextMenu($event)"
         [class.cursor-crosshair]="useCrossHairCursor()"
         [class.cursor-move]="useMoveCursor()"
         [class.cursor-grab]="useGrabCursor()"
         [class.cursor-grabbing]="useGrabbingCursor()"
    >
      <g
        [class.no-mouse-interaction]="!receivePageMouseEvents()"
      >
        <g app-page-view
           [pageState]="editorService.pageStateObs"
           [editorTool]="currentEditorTool"
        ></g>
        <g app-line-editor ></g>
        <g app-staff-grouper ></g>
        <g app-staff-splitter ></g>
        <g app-symbol-editor [symbolContextMenu]="symbolContextMenu"></g>
        <g app-text-editor [textEditorOverlay]="textEditorOverlay" [readingOrderContextMenu]="readingOrderContextMenu"></g>
        <g app-layout-editor [regionTypeContextMenu]="regionTypeContextMenu"></g>
        <g app-layout-extract-connected-components [regionTypeContextMenu]="regionTypeContextMenu" ></g>
        <g app-layout-lasso-area [regionTypeContextMenu]="regionTypeContextMenu" ></g>
        <g app-syllable-editor ></g>
        <g app-view-editor-tool ></g>
      </g>
    </svg>
  </div>
  <div class="svg-overlay"
       [class.no-mouse-interaction]="!receivePageMouseEvents()"
  >
    <div class="svg-overlay">
      <app-reading-order-view-overlay
        *ngIf="currentEditorTool.viewSettings.showReadingOrder"
        [readingOrderPoints]="editorService.pcgts.page.readingOrder.centerPoints"
        [editorTool]="currentEditorTool"
        [type]="BlockType.Lyrics"
        [zoom]="svgZoom"
        [pan]="svgPan"
        [highlightedIndex]="editorService.pcgts.page.readingOrder.readingOrder.indexOf(sheetOverlayService.readingOrderHoveredPageLine)"
      ></app-reading-order-view-overlay>
    </div>
    <div class="svg-overlay" *ngFor="let block of textBlocks">
      <app-reading-order-view-overlay
        *ngIf="currentEditorTool.viewSettings.showReadingOrder"
        [readingOrderPoints]="block.childCentersAsPolyline()"
        [editorTool]="currentEditorTool"
        [type]="BlockType.Paragraph"
        [zoom]="svgZoom"
        [pan]="svgPan"
      ></app-reading-order-view-overlay>
    </div>
    <div class="svg-overlay">
      <app-text-editor-overlay
        *ngIf="lyricsEditor.currentLine && lyricsEditor.visible"
        [line]="lyricsEditor.currentLine"
        [zoom]="svgZoom"
        [pan]="svgPan"
        [viewWidth]="width"
      ></app-text-editor-overlay>
    </div>
  </div>
</div>
<app-region-type-context-menu></app-region-type-context-menu>
<app-reading-order-context-menu></app-reading-order-context-menu>
<app-symbol-context-menu></app-symbol-context-menu>
<app-syllable-editor-overlay
  *ngIf="currentEditorTool.syllableToInsert"
  [hide]="!mouseInArea"
  [syllable]="currentEditorTool.syllableToInsert"
></app-syllable-editor-overlay>
