<div class="editor-area">
  <div style="width: 100%; height: 100%;">
    <svg #svgRoot id="svgRoot"
         style="display: inline; width: inherit; min-width: inherit; max-width: inherit; height: inherit; min-height: inherit; max-height: inherit; "
         version="1.1"
         xmlns="http://www.w3.org/2000/svg" xmlns:xlink= "http://www.w3.org/1999/xlink"
         (keydown)="onKeypress($event)"
         (mousemove)="onMouseMove($event)"
         (mousedown)="onMouseDown($event)"
         (mouseup)="onMouseUp($event)"
         (contextmenu)="onContextMenu($event)"
         [class.cursor-crosshair]="useCrossHairCursor()"
         [class.cursor-move]="useMoveCursor()"
         [class.cursor-grab]="useGrabCursor()"
         [class.cursor-grabbing]="useGrabbingCursor()"
    >
      <g
        [class.no-mouse-interaction]="!receivePageMouseEvents()"
      >
        <g app-page-view
           [pageState]="editorService.pageStateObs"
           [editorTool]="currentEditorTool"
        ></g>
        <g app-line-editor ></g>
        <g app-staff-grouper ></g>
        <g app-staff-splitter ></g>
        <g app-symbol-editor ></g>
        <g app-text-editor ></g>
        <g app-layout-editor ></g>
        <g app-layout-extract-connected-components ></g>
        <g app-layout-lasso-area ></g>
        <g app-syllable-editor ></g>
        <g app-view-editor-tool ></g>
      </g>
    </svg>
  </div>
  <div class="svg-overlay">
    <app-text-editor-overlay></app-text-editor-overlay>
  </div>
</div>
<app-region-type-context-menu></app-region-type-context-menu>
<app-syllable-editor-overlay></app-syllable-editor-overlay>
