@import '~@angular/material/theming';
@import "~material-design-icons/iconfont/material-icons.css";

@include mat-core();

$ommr4all-primary: mat-palette($mat-blue);
$ommr4all-accent:  mat-palette($mat-brown, 500, 200, 800);
$ommr4all-warn:    mat-palette($mat-red);

$ommr4all-theme-background: (
  status-bar: green,
  app-bar:    #111,
  background: #fff9f1,
  hover:      mat-color($mat-blue, 200, 0.2),
  focus:      rgba(white, 0.04),
  card:       whitesmoke,
  dialog:     map_get($mat-grey, 100),
  disabled-button: $white-12-opacity,
  raised-button: map-get($mat-grey, 100),
  focused-button: mat-color($mat-red, 200),
  selected-button: map_get($mat-grey, 300),
  selected-disabled-button: map_get($mat-grey, 400),
  disabled-button-toggle: map_get($mat-grey, 200),
  unselected-chip: map_get($mat-grey, 300),
  disabled-list-option: map_get($mat-grey, 200),
);

$ommr4all-theme-foreground: (
  base:              black,
  divider:           $black-12-opacity,
  dividers:          $black-12-opacity,
  disabled:          rgba(black, 0.3),
  disabled-button:   rgba(black, 0.2),
  disabled-text:     rgba(black, 0.3),
  hint-text:         rgba(black, 0.3),
  secondary-text:    rgba(black, 0.5),
  icon:              black,
  icons:             black,
  text:              black,
  inverted-text:     hsla(34, 78%, 95%, 1),
  slider-min:        rgba(black, 0.87),
  slider-off:        rgba(black, 0.26),
  slider-off-active: rgba(black, 0.38),
);

@function create-theme($primary, $accent, $warn: mat-palette($mat-red)) {
  @return (
    primary: $primary,
    accent: $accent,
    warn: $warn,
    is-dark: false,
    foreground: $ommr4all-theme-foreground,
    background: $ommr4all-theme-background,
  );
}

// Create the theme object (a Sass map containing all of the palettes).
$theme: create-theme($ommr4all-primary, $ommr4all-accent, $ommr4all-warn);

// dialog
@mixin ommr4all-app-theme($theme) {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  body {
    background-color: mat-color($background, background);
    font-family: "Helvetica", sans-serif;
  }

  .h1, h1 {
    margin-bottom: 1rem;
    font-size: 2rem;
    line-height: 2rem;
    &>span {
      vertical-align: middle;
    }
  }

  .h4, h4 {
    font-size: 1.35rem;
  }

  .h5, h5 {
    font-size: 1.25rem;
  }

  .mat-toolbar {
    color: mat-color($foreground, inverted-text);
    height: 64px;
    font-size: 1.0rem;

    .fill {
      flex: 1 1 auto;
    }

    .mat-button {
      display: block;
      height: inherit;
      line-height: 64px;
      min-width: 100px;
      font-size: 1.2rem;
    }

    .logo {
      flex: 0 0 8rem;
      width: 8rem;
      height: 3rem;
      background-color: mat-color($background, background);
      color: mat-color($foreground, text);
      border-radius: 1.5rem;
      margin: 1rem;
      line-height: 3rem;
      vertical-align: middle;
      text-align: center;
      box-shadow: inset 0 1rem 1rem -1rem black;
    }

    a {
      color: mat-color($foreground, inverted-text);
      text-decoration: none;
    }
  }

  .mat-toolbar.light {
    color: mat-color($foreground, text);
    background-color: mat-color($background, background);
  }

  .mat-toolbar.transparent {
    color: mat-color($foreground, text);
    background-color: transparent;
  }

  .mat-icon {
    background-size: contain;
  }

  .mat-icon-button.large {

    width: 40px;
    height: 40px;
    line-height: 40px;

    .mat-icon {
      font-size: 40px;
      width: 40px;
      height: 40px;
      line-height: 40px;
    }
  }

  .mat-icon-button.small {
    width: 26px;
    height: 26px;
    line-height: 26px;
  }

  .mat-divider.mat-divider-vertical {
    height: 36px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .mat-dialog-container {
    background-color: antiquewhite;
    max-width: 500px;
    min-width: 300px;
  }

  .mat-dialog-title {
    margin: -24px -24px 0px -24px !important;
    padding: 24px 24px 20px 24px !important;
    background-color: #111111;
    color: antiquewhite;
    line-height: 1.5;
    font-size: 150%;
  }

  .mat-dialog-content {
    padding:  20px 24px !important;
  }

  .mat-dialog-actions {
    background-color: #111111;
    margin: 0 -24px -24px -24px !important;
    padding: 20px 24px 24px 24px !important;
  }

  // Input
  .mat-input-element[readonly="true"] {
    color: mat-color($foreground, 'disabled');
  }

  // Menu

  .mat-menu-item {
    line-height: 36px !important;
    height: 36px !important;
  }

  .mat-menu-item.cdk-program-focused,
  .mat-menu-item.cdk-keyboard-focused,
  .mat-menu-item-highlighted {
    &:not([disabled]):not(:hover) {
      background: mat-color($background, 'focus');
    }
  }

  .mat-menu-item.warn {
    color: mat-color($warn);
  }

  // Mat List
  .mat-list-item.active {
    background-color: mat-color($background, hover);
  }

  // Table
  .mat-table {
    background-color: transparent;
    border-bottom: 2px solid mat-color($background, 'app-bar');
    .mat-header-row {
      background-color: mat-color($background, 'app-bar');
    }
    .mat-header-cell {
      color: mat-color($foreground, inverted-text);
    }
    .mat-row:hover {
      background-color: mat-color($background, 'hover');
    }
  }


  table.property-widget {
    font-size: 70%;
    width: 100%;
    table-layout: fixed;
    text-align: left;
    border-spacing: 0;

    th {
      text-align: center;
      border: 1px solid black;
      border-left: 0;
      border-right: 0;
    }

    td {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    tbody tr:last-child td,
    tfoot tr:last-child td {
      border-bottom: 1px solid black;
    }

    &.last-60 {
      th:last-child {
        width: 60px;
      }

      td:last-child {
        width: 60px;
        text-align: center;
      }
    }

    &.last-40 {
      th:last-child {
        width: 40px;
      }

      td:last-child {
        width: 40px;
        text-align: center;
      }
    }
  }

  // Mat Card
  mat-card {
    margin-bottom: 10px;
  }

}

@include angular-material-theme($theme);
@include ommr4all-app-theme($theme);
