@use '@angular/material' as mat;
@import "material-design-icons/iconfont/material-icons.css";

// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy(mat.define-typography-config());`
@include mat.all-component-typographies();
@include mat.core();

$ommr4all-primary: mat.m2-define-palette(mat.$m2-blue-palette);
$ommr4all-accent:  mat.m2-define-palette(mat.$m2-brown-palette, 500, 200, 800);
$ommr4all-warn:    mat.m2-define-palette(mat.$m2-red-palette);

$ommr4all-theme-background: (
  status-bar: green,
  app-bar:    #111,
  background: #fffdfa,
  hover:      mat.m2-get-color-from-palette(mat.$m2-blue-palette, 200, 0.2),
  focus:      rgba(white, 0.04),
  card:       whitesmoke,
  dialog:     map_get(mat.$m2-grey-palette, 100),
  disabled-button: rgba(white, 0.12),
  raised-button: map-get(mat.$m2-grey-palette, 100),
  focused-button: mat.m2-get-color-from-palette(mat.$m2-red-palette, 200),
  selected-button: map_get(mat.$m2-grey-palette, 300),
  selected-disabled-button: map_get(mat.$m2-grey-palette, 400),
  disabled-button-toggle: map_get(mat.$m2-grey-palette, 200),
  unselected-chip: map_get(mat.$m2-grey-palette, 300),
  disabled-list-option: map_get(mat.$m2-grey-palette, 200),
);

$ommr4all-theme-foreground: (
  base:              black,
  divider:           rgba(black, 0.12),
  dividers:          rgba(black, 0.12),
  disabled:          rgba(black, 0.3),
  disabled-button:   rgba(black, 0.2),
  disabled-text:     rgba(black, 0.3),
  hint-text:         rgba(black, 0.3),
  secondary-text:    rgba(black, 0.5),
  icon:              black,
  icons:             black,
  text:              black,
  inverted-text:     hsla(34, 78%, 95%, 1),
  slider-min:        rgba(black, 0.87),
  slider-off:        rgba(black, 0.26),
  slider-off-active: rgba(black, 0.38),
);

@function create-theme($primary, $accent, $warn: mat.m2-define-palette(mat.$m2-red-palette)) {
  $base-theme: mat.m2-define-light-theme((
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
    ),
    typography: mat.m2-define-typography-config(),
    density: -2,
  ));

  $color-config: mat.m2-get-color-config($base-theme);
  $custom-color-config: map-merge($color-config, (
    background: $ommr4all-theme-background,
    foreground: $ommr4all-theme-foreground
  ));

  @return map-merge($base-theme, (color: $custom-color-config));
}

$theme: create-theme($ommr4all-primary, $ommr4all-accent, $ommr4all-warn);

@mixin ommr4all-app-theme($theme) {
  $color-config: mat.m2-get-color-config($theme);

  $background: map-get($color-config, background);
  $foreground: map-get($color-config, foreground);
  $accent: map-get($color-config, accent);
  $warn: map-get($color-config, warn);
  body {
    background-color: mat.m2-get-color-from-palette($background, background);
    font-family: "Helvetica", sans-serif;
  }

  .h1, h1 {
    margin-bottom: 1rem;
    font-size: 2rem;
    line-height: 2rem;
    &>span {
      vertical-align: middle;
    }
  }

  .h4, h4 {
    font-size: 1.35rem;
  }

  .h5, h5 {
    font-size: 1.25rem;
  }

  .mat-toolbar {
    color: mat.m2-get-color-from-palette($foreground, inverted-text);
    height: 64px;
    font-size: 1.0rem;

    .fill {
      flex: 1 1 auto;
    }

    .space {
      flex: 0 0 10px;
    }

    .mat-mdc-button {
      display: block;
      height: inherit;
      line-height: 64px;
      min-width: 100px;
      font-size: 1.2rem;
    }

    .mat-mdc-outlined-button {
      display: block;
      margin: 12px 0;
      line-height: 40px;
      min-width: 100px;
      font-size: 1.2rem;
      border-color: mat.m2-get-color-from-palette($foreground, inverted-text);
    }

    .mat-mdc-icon-button {
      width: 40px !important;
      height: 40px !important;
      line-height: 40px !important;
      padding: 0 !important;
      display: inline-flex !important;
      align-items: center;
      justify-content: center;

      .mat-icon {
        font-size: 40px !important;
        width: 40px !important;
        height: 40px !important;
        line-height: 40px !important;
        display: block !important;
        margin: 0 !important;
      }

      .mat-mdc-button-touch-target {
        width: 40px !important;
        height: 40px !important;
      }
    }

    .logo {
      // background-color: mat-color($background, background);
      // color: mat-color($foreground, text);
    }

    a {
      color: mat.m2-get-color-from-palette($foreground, inverted-text);
      text-decoration: none;
    }
    a:hover {
      background-color: #222;
    }
  }

  .mat-toolbar.light {
    color: mat.m2-get-color-from-palette($foreground, text);
    background-color: mat.m2-get-color-from-palette($background, background);
  }

  .mat-toolbar.transparent {
    color: mat.m2-get-color-from-palette($foreground, text);
    background-color: transparent;
  }

  .mat-icon {
    background-size: contain;
  }

  .mat-mdc-icon-button.large {

    width: 40px;
    height: 40px;
    line-height: 40px;

    .mat-icon {
      font-size: 40px;
      width: 40px;
      height: 40px;
      line-height: 40px;
    }
  }

  .mat-mdc-icon-button.small {
    width: 26px;
    height: 26px;
    line-height: 26px;
  }

  .mat-divider.mat-divider-vertical {
    height: 36px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .mat-mdc-dialog-container {
    background-color: antiquewhite;
    max-width: 100vw;
    min-width: 300px;
  }

  .mat-mdc-dialog-title {
    margin: -24px -24px 0px -24px !important;
    padding: 24px 24px 20px 24px !important;
    background-color: #111111;
    color: antiquewhite;
    line-height: 1.5;
    font-size: 150%;
  }

  .mat-mdc-dialog-content {
    padding:  20px 24px !important;

  }

  .mat-mdc-dialog-actions {
    background-color: #111111;
    margin: 0 -24px -24px -24px !important;
    padding: 20px 24px 24px 24px !important;
  }

  // Input
  .mat-mdc-input-element[readonly="true"] {
    color: mat.m2-get-color-from-palette($foreground, 'disabled');
  }

  // Menu

  .mat-mdc-menu-item {
    line-height: 36px !important;
    height: 36px !important;
  }

  .mat-mdc-menu-item.cdk-program-focused,
  .mat-menu-item.cdk-keyboard-focused,
  .mat-menu-item-highlighted {
    &:not([disabled]):not(:hover) {
      background: mat.m2-get-color-from-palette($background, 'focus');
    }
  }

  .mat-mdc-menu-item.warn {
    color: mat.m2-get-color-from-palette($warn);
  }

  // Mat List
  .mat-mdc-list-item.active {
    background-color: mat.m2-get-color-from-palette($background, hover);
  }

  // Table
  .mat-mdc-table {
    background-color: transparent;
    border-bottom: 2px solid mat.m2-get-color-from-palette($background, 'app-bar');
    .mat-mdc-header-row {
      background-color: mat.m2-get-color-from-palette($background, 'app-bar');
    }
    .mat-mdc-header-cell {
      color: mat.m2-get-color-from-palette($foreground, inverted-text);
    }
    .mat-mdc-row:hover {
      background-color: mat.m2-get-color-from-palette($background, 'hover');
    }
  }


  table.property-widget {
    font-size: 70%;
    width: 100%;
    table-layout: fixed;
    text-align: left;
    border-spacing: 0;

    th {
      text-align: center;
      border: 1px solid black;
      border-left: 0;
      border-right: 0;
    }

    td {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    tbody tr:last-child td,
    tfoot tr:last-child td {
      border-bottom: 1px solid black;
    }

    &.last-60 {
      th:last-child {
        width: 60px;
      }

      td:last-child {
        width: 60px;
        text-align: center;
      }
    }

    &.last-40 {
      th:last-child {
        width: 40px;
      }

      td:last-child {
        width: 40px;
        text-align: center;
      }
    }
  }

  // Mat Card
  /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version.*/
  mat-card {
    margin-bottom: 10px;
  }
  .flex-row {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap;
  }

  .flex-col {
    display: flex !important;
    flex-direction: column !important;
  }

  .align-center {
    align-items: center !important;
  }

  .gap-5 {gap: 5px !important; }
  .gap-10 { gap: 10px !important; }
  .gap-20 { gap: 20px !important; }
  .gap-40 { gap: 40px !important; }
  .gap-50 { gap: 50px !important; }

  .mdc-form-fix {
    margin-bottom: 25px;
  }
  .flex-50 {
    flex: 1 1 50% !important;
    max-width: 50% !important;
    box-sizing: border-box;
  }
  .flex-55 {
    flex: 1 1 55% !important;
    max-width: 55% !important;
    box-sizing: border-box;
  }
  .flex-45 {
    flex: 1 1 45% !important;
    max-width: 45% !important;
    box-sizing: border-box;
  }
  .mat-mdc-dialog-surface {
    background-color: antiquewhite !important;
  }

  .mat-mdc-dialog-container .mdc-dialog__surface {
    background-color: antiquewhite !important;
  }
  .nowrap {
    flex-wrap: nowrap !important;
  }

  app-algorithm-type-for-group-selection {
    display: block;
    min-width: 0; /* Prevents flex children from overflowing */
  }
}

@include mat.all-component-themes($theme);
@include ommr4all-app-theme($theme);
