/* You can add global styles to this file, and also import other style files */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Icons */
.icon-bar {
}

.icon-bar > .separator {
  display: inline-block;
  height: 2rem;
  width: 0;
  border: 1px solid darkgray;
  margin: 0.1rem 0.2rem;
}

.icon-bar > .icon,
.inline-form > .icon {
  height: 2rem;
  width: 2rem;
  display: inline-block;
  border-radius: 0.2rem;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}

.icon-bar > .icon:hover,
.inline-form > .icon:hover {
  box-shadow: 0 0 0.2rem 0.1rem rgba(0, 0, 0, 0.4);
}

.icon-bar > .icon:active,
.inline-form > .icon:active {
  background-color: darkgray;
}

.icon.toggle {

}
.icon.toggle.toggled {
  background-color: lightblue;
  box-shadow: 0 0 0.2rem 0.1rem lightblue;
}
.icon.toggle.toggled:hover {
  box-shadow: 0 0 0.2rem 0.1rem darkgray;
}

.icon {
  background-size: contain;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, background-color .15s ease-in-out;
}
.icon-lock:after { content: "lock"; }
.icon-lock.unlocked:after { content: "lock_open"; }

/* loading icon */
.load-overlay {
  position: relative;
  bottom: 0;
  top: -100%;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
}
.load-icon-small,
.load-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.load-icon-small {
}


/* Basic layout */
.center-content-container {
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  padding: 2em;
}
.center-content-container.full-width {
  width: 100%;
}

/* various */
span.book-title {
  font-weight: bold;
  vertical-align: baseline;
}

span.page-id {
  font-weight: bold;
}

