/* You can add global styles to this file, and also import other style files */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Icons */
.icon-bar {
}

.icon-bar > .separator {
  display: inline-block;
  height: 2rem;
  width: 0;
  border: 1px solid darkgray;
  margin: 0.1rem 0.2rem;
}

.icon-bar > .icon,
.inline-form > .icon {
  height: 2rem;
  width: 2rem;
  display: inline-block;
  border-radius: 0.2rem;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}

.icon-bar > .icon:hover,
.inline-form > .icon:hover {
  box-shadow: 0 0 0.2rem 0.1rem rgba(0, 0, 0, 0.4);
}

.icon-bar > .icon:active,
.inline-form > .icon:active {
  background-color: darkgray;
}

.icon.toggle {

}
.icon.toggle.toggled {
  background-color: lightblue;
  box-shadow: 0 0 0.2rem 0.1rem lightblue;
}
.icon.toggle.toggled:hover {
  box-shadow: 0 0 0.2rem 0.1rem darkgray;
}

.icon {
  background-size: contain;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, background-color .15s ease-in-out;
}
.icon-accid-flat { background-image: url("/assets/icons/accid_flat.svg"); }
.icon-accid-natural { background-image: url("/assets/icons/accid_natural.svg"); }
.icon-accid-sharp { background-image: url("/assets/icons/accid_sharp.svg"); }
.icon-archive { background-image: url("/assets/icons/archive.svg"); }
.icon-back { background-image: url("/assets/icons/back.svg"); }
.icon-clef-c { background-image: url("/assets/icons/clef_c.svg"); }
.icon-clef-f { background-image: url("/assets/icons/clef_f.svg"); }
.icon-connected-component { background-image: url("/assets/icons/connected_component.svg"); }
.icon-done { background-image: url("/assets/icons/done.svg"); }
.icon-done-all { background-image: url("/assets/icons/done_all.svg"); }
.icon-delete-forever { background-image: url("/assets/icons/delete_forever.svg"); }
.icon-edit-stafflines { background-image: url("/assets/icons/edit_stafflines.svg"); }
.icon-edit-text { background-image: url("/assets/icons/edit_text.svg"); }
.icon-gradiation-cap { background-image: url("/assets/icons/cast_for_education.svg"); }
.icon-group-staff-lines { background-image: url("/assets/icons/group_stafflines.svg"); }
.icon-info { background-image: url("/assets/icons/info.svg"); }
.icon-laptop { background-image: url("/assets/icons/developer_board.svg"); }
.icon-lasso { background-image: url("/assets/icons/lasso.svg"); }
.icon-link { background-image: url("/assets/icons/link.svg"); }
.icon-lock { background-image: url("/assets/icons/lock.svg"); }
.icon-more-horiz { background-image: url("/assets/icons/more_horiz.svg"); }
.icon-more-vert { background-image: url("/assets/icons/more_vert.svg"); }
.icon-notes { background-image: url("/assets/icons/notes.svg"); }
.icon-note-separator { background-image: url("/assets/icons/note_separator.svg"); }
.icon-open-lock, .icon-lock.unlocked { background-image: url("/assets/icons/open-lock.svg"); }
.icon-pencil { background-image: url("/assets/icons/edit.svg"); }
.icon-plus { background-image: url("/assets/icons/plus.svg"); }
.icon-reading-order-auto { background-image: url('/assets/icons/reading_order_auto.svg'); }
.icon-redo { background-image: url('/assets/icons/redo.svg'); }
.icon-reorder { background-image: url('/assets/icons/reorder.svg'); }
.icon-restore-page { background-image: url('/assets/icons/restore_page.svg'); }
.icon-save { background-image: url("/assets/icons/save.svg"); }
.icon-selection-all { background-image: url("/assets/icons/selection_all.svg"); }
.icon-selection-clear { background-image: url("/assets/icons/selection_clear.svg"); }
.icon-split-staff-lines { background-image: url("/assets/icons/split_stafflines.svg"); }
.icon-unarchive { background-image: url("/assets/icons/unarchive.svg"); }
.icon-undo { background-image: url('/assets/icons/undo.svg'); }
.icon-view { background-image: url('/assets/icons/view.svg'); }
.icon-wastebasket { background-image: url("/assets/icons/delete.svg"); }

/* loading icon */
.load-overlay {
  position: relative;
  bottom: 0;
  top: -100%;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
}
.load-icon-small,
.load-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.load-icon-small {
}


/* Basic layout */
.center-content-container {
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  padding: 2em;
}
.center-content-container.full-width {
  width: 100%;
}

/* various */
span.book-title {
  font-weight: bold;
  vertical-align: baseline;
}

span.page-id {
  font-weight: bold;
}

