/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.ngx-context-menu {

}

.dropdown-menu {
  background-color: whitesmoke;
  border: 1px solid gray;
}

.dropdown-menu li {
  list-style: none;
  height: 2em;
  line-height: 2em;
}

.dropdown-menu .divider {
  height: 1px;
  background-color: gray;
  border: 1px outset gray;
  margin: 2px 5px;
}

.dropdown-menu a {
  color: black;
  text-decoration: none;
  height: 100%;
  display: block;
  vertical-align: center;
  padding: 0 5px;
}

.dropdown-menu a:hover {
  background-color: lightblue;
}

