<div id="debugContainer">
  <h1>Debug Information</h1>
  <h3>Variable Monitor</h3>
  <table>
    <thead>
    <tr>
      <th>Variable</th><th>Value</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Current Tool</td><td>{{ debug.toolBarService.currentEditorTool }}</td>
    </tr>
    <tr>
      <td>Current Symbol</td><td>{{ debug.toolBarService.currentEditorSymbol }}</td>
    </tr>
    <tr>
      <td>Line Editor State</td><td>{{ debug.lineEditorService.states.state }}</td>
    </tr>
    <tr>
      <td>Staff Grouper State</td><td>{{ debug.staffGrouperService.states.state }}</td>
    </tr>
    <tr>
      <td>Symbol Editor State</td><td>{{ debug.symbolEditorService.states.state }}</td>
    </tr>
    <tr>
      <td>Lyrics Editor State</td><td>{{ debug.lyricsEditorService.states.state }}</td>
    </tr>
    <tr>
      <td>Rect Editor State</td><td>{{ debug.rectEditorService.states.state }}</td>
    </tr>
    </tbody>
  </table>
  <h3>JSON Staffs</h3>
  <textarea readonly class="jsonview">
    {{ debug.staffsService.dumps() }}
  </textarea>
</div>
