<div id="debugContainer">
  <h1>Debug Information</h1>
  <h3>Variable Monitor</h3>
  <table>
    <thead>
    <tr>
      <th>Variable</th><th>Value</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>State Machine (Tools)</td><td>{{ debug.stateMachinaService.states.state }}</td>
    </tr>
    <tr>
      <td>Line Editor State</td><td>{{ debug.lineEditorService.states.state }}</td>
    </tr>
    <tr>
      <td>Staff Grouper State</td><td>{{ debug.staffGrouperService.states.state }}</td>
    </tr>
    </tbody>
  </table>
</div>
