<div #menuTriggerElement #menuTrigger="matMenuTrigger"  [matMenuTriggerFor]="menu"
        [style.display]="'block'"
        [style.position]="'fixed'"
></div>
<mat-menu #menu="matMenu"
          (closed)="_clean()"
>
  <button mat-menu-item *ngIf="hasContext" (click)="onAddToSelection()">Add to selection</button>
  <mat-divider *ngIf="hasContext"></mat-divider>
  <button mat-menu-item (click)="onSelectRegionType(BT.Music)">Music</button>
  <button mat-menu-item (click)="onSelectRegionType(BT.Lyrics)">Lyrics</button>
  <button mat-menu-item (click)="onSelectRegionType(BT.DropCapital)">Drop capital</button>
  <button mat-menu-item (click)="onSelectRegionType(BT.Paragraph)">Texts</button>
  <mat-divider *ngIf="hasDelete"></mat-divider>
  <button mat-menu-item *ngIf="hasDelete" (click)="onDelete()">Delete</button>
</mat-menu>
