svg {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.staff-line {
  stroke-width: 2px;
  stroke: teal;
  fill: none;
}

.overlay {
  stroke-width: 10px;
  stroke: red;

  stroke-opacity: 0.2;
}

.overlay:hover {
  stroke-opacity: 0.8;
}

circle.note {
  fill-opacity: 0.5;
  fill: yellow;
  stroke: none;
}

circle.staff-line {
  fill-opacity: 0.5;
  fill: teal;
  stroke: red;
}

rect.selection {
  fill: none;
  stroke: black;
  stroke-width: 1;
  pointer-events: none;
}

rect.aabb {
  fill: blue;
  opacity: 0.25;
  stroke: none;
  pointer-events: none;
}
rect.closest-staff {
  fill: green;
}
