.editor-area {
  display: grid;
  grid-template-columns: auto auto;
}

svg {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.staff-line {
  stroke-width: 2px;
  stroke: navy;
  fill: none;
  vector-effect: non-scaling-stroke;
}

.overlay {
  stroke-width: 10px;
  vector-effect: non-scaling-stroke;
  stroke: dodgerblue;

  stroke-opacity: 0.0;
}

.overlay:hover {
  stroke-opacity: 0.8;
}


circle.staff-line {
  fill-opacity: 0.5;
  fill: teal;
  stroke: red;
}

rect.selection {
  fill: none;
  stroke: black;
  stroke-width: 1;
  pointer-events: none;
}

rect.aabb {
  fill: none;
  opacity: 0.05;
  stroke: none;
  pointer-events: none;
}
rect.closest-staff {
  stroke: navy;
  opacity: 0.5;
}

rect.lyrics-container {
  stroke: lightcyan;
  stroke-width: 2;
  vector-effect: non-scaling-stroke;
  fill-opacity: 0;
}

.load-overlay {
  position: relative;
  height: 100%;
  width: 100%;
  bottom: 0%;
  top: -100%;
  background-color: rgb(0, 0, 0, 0.5);
}
.load-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
