<p style="width: 1000px; height: 800px; background-color: lightgray" xmlns="http://www.w3.org/1999/html">
  <svg #svgRoot id="svgRoot"
       style="display: inline; width: inherit; min-width: inherit; max-width: inherit; height: inherit; min-height: inherit; max-height: inherit; "
       version="1.1"
       xmlns="http://www.w3.org/2000/svg" xmlns:xlink= "http://www.w3.org/1999/xlink">
    <image id="svgSheet"
           [attr.xlink:href]="sheetUrl"
           x="0" y="0"
           [attr.height]="sheetHeight"
           [attr.width]="sheetWidth"
           (keydown)="onKeypress($event)"
           (mousemove)="onMouseMove($event)"
           (mousedown)="onMouseDown($event)"
           (mouseup)="onMouseUp($event)"/>
    <g>
      <g  *ngFor="let staff of staffs.staffs">
        <rect
          class="aabb"
          [class.closest-staff]="staff==sheetOverlayService.closestStaffToMouse"
          [attr.x]="staff.aabb.origin.x"
          [attr.y]="staff.aabb.origin.y"
          [attr.width]="staff.aabb.size.w"
          [attr.height]="staff.aabb.size.h"
        />
        <g *ngFor="let staffLine of staff.lines">
          <rect
            class="aabb"
            [attr.x]="staffLine.aabb.origin.x"
            [attr.y]="staffLine.aabb.origin.y"
            [attr.width]="staffLine.aabb.size.w"
            [attr.height]="staffLine.aabb.size.h"
          />
          <polyline
            [attr.points]="staffLine.getPath()"
            class="staff-line" (mousemove)="null"
            (mousedown)="onStaffLineMouseDown($event, staffLine)"
            (mouseup)="onStaffLineMouseUp($event, staffLine)"
            (mousemove)="onStaffLineMouseMove($event, staffLine)"
          />
          <polyline
            [attr.points]="staffLine.getPath()"
            class="staff-line overlay" (mousemove)="null"
            (mousedown)="onStaffLineMouseDown($event, staffLine)"
            (mouseup)="onStaffLineMouseUp($event, staffLine)"
            (mousemove)="onStaffLineMouseMove($event, staffLine)"
          />
        </g>
        <g class="symbols">
          <g *ngFor="let symbol of staff.symbolList.symbols">
            <g *ngIf="symbol.type===symbolType.Note">
              <circle
                class='note'
                [attr.cx]="symbol.position.x"
                [attr.cy]="symbol.position.y"
                [attr.r]="staff.avgStaffLineDistance / 2 * 0.8"
                [class.selected]="sheetOverlayService.selectedSymbol === symbol"
                (mousedown)="onSymbolMouseDown($event, symbol)"
                (mouseup)="onSymbolMouseUp($event, symbol)"
                (mousemove)="onSymbolMouseMove($event, symbol)"
              />
            </g>

          </g>
        </g>
        <g class="lyrics" *ngIf="staff.lyricsContainer.aabb">
          <rect
            class="lyrics-container"
            [attr.x]="staff.lyricsContainer.aabb.origin.x"
            [attr.y]="staff.lyricsContainer.aabb.origin.y"
            [attr.width]="staff.lyricsContainer.aabb.size.w"
            [attr.height]="staff.lyricsContainer.aabb.size.h"
            (mousedown)="onLyricsContainerMouseDown($event, staff.lyricsContainer)"
            (mouseup)="onLyricsContainerMouseUp($event, staff.lyricsContainer)"
            (mousemove)="onLyricsContainerMouseMove($event, staff.lyricsContainer)"
          />
          <g *ngFor="let syllable of staff.lyricsContainer.syllables">
            <switch>
              <foreignObject
                [attr.x]="(syllable.start)"
                [attr.y]="staff.lyricsContainer.aabb.origin.y"
                [attr.width]="syllable.end - syllable.start"
                [attr.height]="staff.lyricsContainer.aabb.size.h"
                [style.font-size]="staff.lyricsContainer.aabb.size.h / 2"
              >
                <xhtml:div xmlns="http://www.w3.org/1999/xhtml" style="width: 100%; height: 100%; font-size: 100%;">
                  <xhtml:input class="lyrics">{{syllable.text}}</xhtml:input>
                </xhtml:div>
              </foreignObject>
              <text
                class="lyrics"
                [attr.x]="(syllable.start + syllable.end) / 2"
                [attr.y]="staff.lyricsContainer.aabb.origin.y + staff.lyricsContainer.aabb.size.h * 0.8"
                [style.font-size]="staff.lyricsContainer.aabb.size.h / 2"
              >{{syllable.text}}</text>
            </switch>
          </g>
        </g>
      </g>

    </g>
    <svg:g app-line-editor/>
    <svg:g app-staff-grouper />
    <svg:g app-symbol-editor />
    <svg:g app-lyrics-editor />
  </svg>
</p>
