svg {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.staff-line {
  stroke-width: 2px;
  stroke: navy;
  fill: none;
  vector-effect: non-scaling-stroke;
}

.overlay {
  stroke-width: 10px;
  vector-effect: non-scaling-stroke;
  stroke: dodgerblue;

  stroke-opacity: 0.0;
}

.overlay:hover {
  stroke-opacity: 0.8;
}

circle.note {
  fill-opacity: 0.5;
  fill: yellow;
  stroke: none;
  stroke-width: 2;
}

circle.note.selected {
  stroke: red;
}

circle.note.highlight-syllable {
  fill: orangered;
}

circle.staff-line {
  fill-opacity: 0.5;
  fill: teal;
  stroke: red;
}

rect.selection {
  fill: none;
  stroke: black;
  stroke-width: 1;
  pointer-events: none;
}

rect.aabb {
  fill: none;
  opacity: 0.05;
  stroke: none;
  pointer-events: none;
}
rect.closest-staff {
  fill: navy;
}

rect.lyrics-container {
  stroke: lightcyan;
  stroke-width: 2;
  vector-effect: non-scaling-stroke;
  fill-opacity: 0;
}


.clef {
  stroke-width: 2;
  opacity: 0.5;
}
.c_clef {
  stroke: purple;
  fill: purple;
}
.f_clef {
  stroke: magenta;
  fill: magenta;
}
