<ng-container *ngIf="editor.pageStateVal && showAnnotationCounts">
  <h5 i18n="@@Page">Page</h5>
  <table class="property-widget last-40">
    <thead>
    <tr><th i18n="@@Type">Type</th><th i18n="@@Count">Count</th></tr>
    </thead>
    <tbody>
    <tr><td i18n="@@Music_Regions">Music Regions</td><td>{{ nBlock(BlockType.Music) }}</td></tr>
    <tr><td i18n="@@Music_lines">Music Lines</td><td>{{ nMusicLines }}</td></tr>
    <tr><td i18n="@@Single_staff_lines">Single Staff Lines</td><td>{{ nStaffLines }}</td></tr>
    <tr><td i18n="@@Lyrics_regions">Lyrics Regions</td><td>{{ nBlock(BlockType.Lyrics)}} </td></tr>
    <tr><td i18n="@@Text_Regions">Text Regions </td><td>{{ nBlock(BlockType.Paragraph)}} </td></tr>
    <tr><td i18n="@@Drop_Capital_Regions">Drop Capital Regions </td><td>{{ nBlock(BlockType.DropCapital)}} </td></tr>
    <tr><td i18n="@@Note">Note</td><td>{{ nSymbolType(SymbolType.Note) }}</td></tr>
    <tr><td i18n="@@Clef">Clef</td><td>{{ nSymbolType(SymbolType.Clef) }}</td></tr>
    <tr><td i18n="@@Accid">Accid</td><td>{{ nSymbolType(SymbolType.Accid) }}</td></tr>
    <tr><td i18n="@@Symbols">Symbols</td><td>{{ nSymbols() }}</td></tr>
    </tbody>
  </table>
</ng-container>
<ng-container *ngIf="showActions">
  <h5 i18n="@@Actions">Actions</h5>
  <table class="property-widget last-40">
    <thead>
    <tr>
      <th i18n="@@Action">Action </th><th i18n="@@Count">Count</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let a of this.counts; trackBy: countTrack">
      <td>{{ a.l }}</td><td>{{ a.c }}</td>
    </tr>
    </tbody>
  </table>
  <p>
    <button mat-flat-button color="warn" (click)="onResetActions()" i18n>Reset actions</button>
  </p>
</ng-container>
<ng-container *ngIf="showTiming">
  <h5 i18n>Tool timing</h5>
  <table class="property-widget last-60">
    <thead>
    <tr>
      <th i18n="@@Tool">Tool</th><th i18n="@@Time">Time</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let a of this.toolTiming; trackBy: toolTimingTrack">
      <td>{{ a.l }}</td><td>{{ a.t }}</td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td i18n="@@Total">Total</td><td>{{ this.totalTiming }}</td>
    </tr>
    </tfoot>
  </table>
  <p>
    <button mat-flat-button color="warn" (click)="onResetTiming()" i18n>Reset timing</button>
  </p>
</ng-container>

