<mat-card>
  <mat-card-header>
    <mat-icon mat-card-avatar>settings</mat-icon>
    <mat-card-title i18n>Settings</mat-card-title>
  </mat-card-header>
  <mat-card-content fxLayout="col">
    <div fxLayout="row" fxLayoutGap="40px" fxLayoutAlign="start center">
    </div>
  </mat-card-content>
</mat-card>
<app-book-step-page-selector
  [operation]="this.operation"
  [selection]="requestBody"
  [bookCom]="book"
></app-book-step-page-selector>
<app-book-step-task-control
  [task]="task"
></app-book-step-task-control>
